@charset "UTF-8";
/*
Theme Name: CATHI Template
Text Domain: CATHI
Version: 1.0
Description: Theme built by TheWebAddicts.com
Tags: TheWebAddicts, CATHI
Author: TheWebAddicts
Author URI: https://TheWebAddicts.com
*/
body {
  direction: RTL !important;
  text-align: right !important;
}

.border-left {
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  border-left: 0 !important;
}

.border-left-3 {
  border-right: 3px solid rgba(0, 0, 0, 0.25);
  border-left: 0 !important;
}

.pos-left-0 {
  left: unset !important;
  right: 0;
}

.pos-left-40 {
  right: 40%;
  left: unset !important;
}

.pos-left-45 {
  right: 45%;
  left: unset !important;
}

.pos-left-22 {
  right: 22px;
  left: unset !important;
}

.padding-20 {
  padding-right: 20px;
  padding-left: unset !important;
}

.padding-left-50 {
  padding-right: 50px;
  padding-left: unset !important;
}

.padding-left-140 {
  padding-right: 140px;
  padding-left: unset !important;
}

@media (min-width: 836px) and (max-width: 991px) {
  .padding-left-140 {
    padding-right: 80px !important;
    padding-left: unset !important;
  }

  .padding-right-140 {
    padding-left: 80px !important;
    padding-right: unset !important;
  }
}
@media screen and (max-width: 835px) {
  .padding-left-140 {
    padding-right: 0 !important;
    padding-left: unset !important;
  }

  .padding-right-140 {
    padding-left: 0 !important;
    padding-right: unset !important;
  }

  .mobile-padding-0 {
    padding-left: unset !important;
    padding-right: 0 !important;
  }

  .mobile-no-border {
    border-right: 0 !important;
    border-left: unset !important;
  }

  .logo-mobile {
    padding-right: 0;
    padding-left: 20px;
    border-left: 0 !important;
  }

  .filter-inner {
    padding-left: 10px;
    border-left: 0 !important;
  }

  .mobile-languages {
    border-right: 0 !important;
    border-left: 1px solid rgba(0, 0, 0, 0.07);
  }
}
.padding-right-140 {
  padding-left: 140px;
  padding-right: unset !important;
}

.margin-left-5 {
  margin-right: 5px;
}

.margin-left-40 {
  margin-right: 40%;
}

.float-left {
  float: right;
}

.borders-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*Right*/
.padding-right-60 {
  padding-left: 60px;
  padding-right: unset !important;
}

.pos-right-0 {
  right: unset !important;
  left: 0;
}

.distributor-card .general:after {
  right: unset !important;
  left: -8px;
}

.filter-inner {
  padding-right: 0;
  border-right: 0;
  padding-left: 50px;
  border-left: 1px solid #E5E5E5;
}

.margin-right-10 {
  margin-right: 0;
  margin-left: 10px;
}

.margin-right-3 {
  margin-right: unset !important;
  margin-left: 3%;
}

.margin-right-25 {
  margin-right: unset !important;
  margin-left: 25px;
}

.borders-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.border-right {
  border-left: 1px solid rgba(0, 0, 0, 0.07);
}

.banner-carousel {
  direction: ltr !important;
}

.banner-carousel .description {
  float: right;
}

@font-face {
  font-family: "Verdana";
  src: url("/wp-content/themes/cathitemplate/assets/fonts/Verdana.woff2") format("woff2"), url("/wp-content/themes/cathitemplate/assets/fonts/Verdana.woff") format("woff");
}
@font-face {
  font-family: "Verdana Bold";
  src: url("/wp-content/themes/cathitemplate/assets/fonts/Verdana-Bold.woff2") format("woff2"), url("/wp-content/themes/cathitemplate/assets/fonts/Verdana-Bold.woff") format("woff");
}
.t-upper {
  text-transform: uppercase;
}

.t-lower {
  text-transform: lowercase;
}

.t-capitalize {
  text-transform: capitalize;
}

.t-underline {
  text-decoration: underline;
}

.t-overline {
  text-decoration: overline;
}

.t-throughline {
  text-decoration: line-through;
}

.t-lines-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.t-lines-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.t-lines-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.t-lines-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.t-lines-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.t-lines-8 {
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.t-primary {
  color: #CEBFB3;
}

.t-secondary {
  color: #FCF8F0;
}

.t-danger {
  color: #DB3236;
}

.t-success {
  color: #80EDA5;
}

.t-dark {
  color: #6cb2eb;
}

.t-light {
  color: #FFF5D9;
}

.t-white {
  color: #fff;
}

.t-black {
  color: #000;
}

.t-muted {
  color: #F7F7F7;
}

.t-light-gray {
  color: #F2F2F2;
}

.t-lighter-gray {
  color: #F7F7F7;
}

.t-family-1 {
  font-family: "Verdana" !important;
}

.t-family-2 {
  font-family: "Verdana Bold" !important;
}

.t-family-3 {
  font-family: "Verdana" !important;
}

.t-family-4 {
  font-family: "Verdana Bold" !important;
}

.t-family-1-children * {
  font-family: "Verdana" !important;
}

.t-family-2-children * {
  font-family: "Verdana Bold" !important;
}

.t-family-3-children * {
  font-family: "Verdana" !important;
}

.t-family-4-children * {
  font-family: "Verdana Bold" !important;
}

.t-regular {
  font-weight: 400;
}

.t-medium {
  font-weight: 500;
}

.t-semibold {
  font-weight: 600;
}

.t-bold {
  font-weight: 700 !important;
}

.t-bolder {
  font-weight: 900;
}

.t-one-quarter {
  max-width: 25%;
}

.t-one-third {
  max-width: calc(100%/3);
}

.t-two-third {
  max-width: calc(200%/3);
}

.t-one-half {
  max-width: 50%;
}

.t-three-quarters {
  max-width: 75%;
}

.t-block-link,
.t-no-underline {
  display: block;
  text-decoration: none;
}

.t-opacity-50 {
  opacity: 0.5;
}

.t-opacity-75 {
  opacity: 0.75;
}

.t-hover-right:hover {
  transform: translateX(5px);
}

.t-inherit {
  color: inherit;
}

.t-height-0 {
  height: 0.625rem;
}

.t-0 {
  font-size: 0.625rem !important;
}

.t-0-regular {
  font-size: 0.625rem;
  font-weight: 400;
}

.t-0-medium {
  font-size: 0.625rem;
  font-weight: 500;
}

.t-0-semibold {
  font-size: 0.625rem;
  font-weight: 600;
}

.t-0-bold {
  font-size: 0.625rem;
  font-weight: 700;
}

.t-0-bolder {
  font-size: 0.625rem;
  font-weight: 900;
}

.t-line-0 {
  line-height: 0.625rem;
}

.t-height-1 {
  height: 0.75rem;
}

.t-1 {
  font-size: 0.75rem !important;
}

.t-1-regular {
  font-size: 0.75rem;
  font-weight: 400;
}

.t-1-medium {
  font-size: 0.75rem;
  font-weight: 500;
}

.t-1-semibold {
  font-size: 0.75rem;
  font-weight: 600;
}

.t-1-bold {
  font-size: 0.75rem;
  font-weight: 700;
}

.t-1-bolder {
  font-size: 0.75rem;
  font-weight: 900;
}

.t-line-1 {
  line-height: 0.75rem;
}

.t-height-2 {
  height: 0.875rem;
}

.t-2 {
  font-size: 0.875rem !important;
}

.t-2-regular {
  font-size: 0.875rem;
  font-weight: 400;
}

.t-2-medium {
  font-size: 0.875rem;
  font-weight: 500;
}

.t-2-semibold {
  font-size: 0.875rem;
  font-weight: 600;
}

.t-2-bold {
  font-size: 0.875rem;
  font-weight: 700;
}

.t-2-bolder {
  font-size: 0.875rem;
  font-weight: 900;
}

.t-line-2 {
  line-height: 0.875rem;
}

.t-height-3 {
  height: 1rem;
}

.t-3 {
  font-size: 1rem !important;
}

.t-3-regular {
  font-size: 1rem;
  font-weight: 400;
}

.t-3-medium {
  font-size: 1rem;
  font-weight: 500;
}

.t-3-semibold {
  font-size: 1rem;
  font-weight: 600;
}

.t-3-bold {
  font-size: 1rem;
  font-weight: 700;
}

.t-3-bolder {
  font-size: 1rem;
  font-weight: 900;
}

.t-line-3 {
  line-height: 1rem;
}

.t-height-4 {
  height: 1.125rem;
}

.t-4 {
  font-size: 1.125rem !important;
}

.t-4-regular {
  font-size: 1.125rem;
  font-weight: 400;
}

.t-4-medium {
  font-size: 1.125rem;
  font-weight: 500;
}

.t-4-semibold {
  font-size: 1.125rem;
  font-weight: 600;
}

.t-4-bold {
  font-size: 1.125rem;
  font-weight: 700;
}

.t-4-bolder {
  font-size: 1.125rem;
  font-weight: 900;
}

.t-line-4 {
  line-height: 1.125rem;
}

.t-height-5 {
  height: 1.25rem;
}

.t-5 {
  font-size: 1.25rem !important;
}

.t-5-regular {
  font-size: 1.25rem;
  font-weight: 400;
}

.t-5-medium {
  font-size: 1.25rem;
  font-weight: 500;
}

.t-5-semibold {
  font-size: 1.25rem;
  font-weight: 600;
}

.t-5-bold {
  font-size: 1.25rem;
  font-weight: 700;
}

.t-5-bolder {
  font-size: 1.25rem;
  font-weight: 900;
}

.t-line-5 {
  line-height: 1.25rem;
}

.t-height-6 {
  height: 1.375rem;
}

.t-6 {
  font-size: 1.375rem !important;
}

.t-6-regular {
  font-size: 1.375rem;
  font-weight: 400;
}

.t-6-medium {
  font-size: 1.375rem;
  font-weight: 500;
}

.t-6-semibold {
  font-size: 1.375rem;
  font-weight: 600;
}

.t-6-bold {
  font-size: 1.375rem;
  font-weight: 700;
}

.t-6-bolder {
  font-size: 1.375rem;
  font-weight: 900;
}

.t-line-6 {
  line-height: 1.375rem;
}

.t-height-7 {
  height: 1.5rem;
}

.t-7 {
  font-size: 1.5rem !important;
}

.t-7-regular {
  font-size: 1.5rem;
  font-weight: 400;
}

.t-7-medium {
  font-size: 1.5rem;
  font-weight: 500;
}

.t-7-semibold {
  font-size: 1.5rem;
  font-weight: 600;
}

.t-7-bold {
  font-size: 1.5rem;
  font-weight: 700;
}

.t-7-bolder {
  font-size: 1.5rem;
  font-weight: 900;
}

.t-line-7 {
  line-height: 1.5rem;
}

.t-height-8 {
  height: 1.625rem;
}

.t-8 {
  font-size: 1.625rem !important;
}

.t-8-regular {
  font-size: 1.625rem;
  font-weight: 400;
}

.t-8-medium {
  font-size: 1.625rem;
  font-weight: 500;
}

.t-8-semibold {
  font-size: 1.625rem;
  font-weight: 600;
}

.t-8-bold {
  font-size: 1.625rem;
  font-weight: 700;
}

.t-8-bolder {
  font-size: 1.625rem;
  font-weight: 900;
}

.t-line-8 {
  line-height: 1.625rem;
}

.t-height-9 {
  height: 1.75rem;
}

.t-9 {
  font-size: 1.75rem !important;
}

.t-9-regular {
  font-size: 1.75rem;
  font-weight: 400;
}

.t-9-medium {
  font-size: 1.75rem;
  font-weight: 500;
}

.t-9-semibold {
  font-size: 1.75rem;
  font-weight: 600;
}

.t-9-bold {
  font-size: 1.75rem;
  font-weight: 700;
}

.t-9-bolder {
  font-size: 1.75rem;
  font-weight: 900;
}

.t-line-9 {
  line-height: 1.75rem;
}

.t-height-10 {
  height: 1.875rem;
}

.t-10 {
  font-size: 1.875rem !important;
}

.t-10-regular {
  font-size: 1.875rem;
  font-weight: 400;
}

.t-10-medium {
  font-size: 1.875rem;
  font-weight: 500;
}

.t-10-semibold {
  font-size: 1.875rem;
  font-weight: 600;
}

.t-10-bold {
  font-size: 1.875rem;
  font-weight: 700;
}

.t-10-bolder {
  font-size: 1.875rem;
  font-weight: 900;
}

.t-line-10 {
  line-height: 1.875rem;
}

.t-height-11 {
  height: 2rem;
}

.t-11 {
  font-size: 2rem !important;
}

.t-11-regular {
  font-size: 2rem;
  font-weight: 400;
}

.t-11-medium {
  font-size: 2rem;
  font-weight: 500;
}

.t-11-semibold {
  font-size: 2rem;
  font-weight: 600;
}

.t-11-bold {
  font-size: 2rem;
  font-weight: 700;
}

.t-11-bolder {
  font-size: 2rem;
  font-weight: 900;
}

.t-line-11 {
  line-height: 2rem;
}

.t-height-12 {
  height: 2.125rem;
}

.t-12 {
  font-size: 2.125rem !important;
}

.t-12-regular {
  font-size: 2.125rem;
  font-weight: 400;
}

.t-12-medium {
  font-size: 2.125rem;
  font-weight: 500;
}

.t-12-semibold {
  font-size: 2.125rem;
  font-weight: 600;
}

.t-12-bold {
  font-size: 2.125rem;
  font-weight: 700;
}

.t-12-bolder {
  font-size: 2.125rem;
  font-weight: 900;
}

.t-line-12 {
  line-height: 2.125rem;
}

.t-height-13 {
  height: 2.25rem;
}

.t-13 {
  font-size: 2.25rem !important;
}

.t-13-regular {
  font-size: 2.25rem;
  font-weight: 400;
}

.t-13-medium {
  font-size: 2.25rem;
  font-weight: 500;
}

.t-13-semibold {
  font-size: 2.25rem;
  font-weight: 600;
}

.t-13-bold {
  font-size: 2.25rem;
  font-weight: 700;
}

.t-13-bolder {
  font-size: 2.25rem;
  font-weight: 900;
}

.t-line-13 {
  line-height: 2.25rem;
}

.t-height-14 {
  height: 2.375rem;
}

.t-14 {
  font-size: 2.375rem !important;
}

.t-14-regular {
  font-size: 2.375rem;
  font-weight: 400;
}

.t-14-medium {
  font-size: 2.375rem;
  font-weight: 500;
}

.t-14-semibold {
  font-size: 2.375rem;
  font-weight: 600;
}

.t-14-bold {
  font-size: 2.375rem;
  font-weight: 700;
}

.t-14-bolder {
  font-size: 2.375rem;
  font-weight: 900;
}

.t-line-14 {
  line-height: 2.375rem;
}

.t-height-15 {
  height: 2.5rem;
}

.t-15 {
  font-size: 2.5rem !important;
}

.t-15-regular {
  font-size: 2.5rem;
  font-weight: 400;
}

.t-15-medium {
  font-size: 2.5rem;
  font-weight: 500;
}

.t-15-semibold {
  font-size: 2.5rem;
  font-weight: 600;
}

.t-15-bold {
  font-size: 2.5rem;
  font-weight: 700;
}

.t-15-bolder {
  font-size: 2.5rem;
  font-weight: 900;
}

.t-line-15 {
  line-height: 2.5rem;
}

.t-height-16 {
  height: 2.625rem;
}

.t-16 {
  font-size: 2.625rem !important;
}

.t-16-regular {
  font-size: 2.625rem;
  font-weight: 400;
}

.t-16-medium {
  font-size: 2.625rem;
  font-weight: 500;
}

.t-16-semibold {
  font-size: 2.625rem;
  font-weight: 600;
}

.t-16-bold {
  font-size: 2.625rem;
  font-weight: 700;
}

.t-16-bolder {
  font-size: 2.625rem;
  font-weight: 900;
}

.t-line-16 {
  line-height: 2.625rem;
}

.t-height-17 {
  height: 2.75rem;
}

.t-17 {
  font-size: 2.75rem !important;
}

.t-17-regular {
  font-size: 2.75rem;
  font-weight: 400;
}

.t-17-medium {
  font-size: 2.75rem;
  font-weight: 500;
}

.t-17-semibold {
  font-size: 2.75rem;
  font-weight: 600;
}

.t-17-bold {
  font-size: 2.75rem;
  font-weight: 700;
}

.t-17-bolder {
  font-size: 2.75rem;
  font-weight: 900;
}

.t-line-17 {
  line-height: 2.75rem;
}

.t-height-18 {
  height: 2.875rem;
}

.t-18 {
  font-size: 2.875rem !important;
}

.t-18-regular {
  font-size: 2.875rem;
  font-weight: 400;
}

.t-18-medium {
  font-size: 2.875rem;
  font-weight: 500;
}

.t-18-semibold {
  font-size: 2.875rem;
  font-weight: 600;
}

.t-18-bold {
  font-size: 2.875rem;
  font-weight: 700;
}

.t-18-bolder {
  font-size: 2.875rem;
  font-weight: 900;
}

.t-line-18 {
  line-height: 2.875rem;
}

.t-height-19 {
  height: 3rem;
}

.t-19 {
  font-size: 3rem !important;
}

.t-19-regular {
  font-size: 3rem;
  font-weight: 400;
}

.t-19-medium {
  font-size: 3rem;
  font-weight: 500;
}

.t-19-semibold {
  font-size: 3rem;
  font-weight: 600;
}

.t-19-bold {
  font-size: 3rem;
  font-weight: 700;
}

.t-19-bolder {
  font-size: 3rem;
  font-weight: 900;
}

.t-line-19 {
  line-height: 3rem;
}

.t-height-20 {
  height: 3.125rem;
}

.t-20 {
  font-size: 3.125rem !important;
}

.t-20-regular {
  font-size: 3.125rem;
  font-weight: 400;
}

.t-20-medium {
  font-size: 3.125rem;
  font-weight: 500;
}

.t-20-semibold {
  font-size: 3.125rem;
  font-weight: 600;
}

.t-20-bold {
  font-size: 3.125rem;
  font-weight: 700;
}

.t-20-bolder {
  font-size: 3.125rem;
  font-weight: 900;
}

.t-line-20 {
  line-height: 3.125rem;
}

.t-height-21 {
  height: 3.25rem;
}

.t-21 {
  font-size: 3.25rem !important;
}

.t-21-regular {
  font-size: 3.25rem;
  font-weight: 400;
}

.t-21-medium {
  font-size: 3.25rem;
  font-weight: 500;
}

.t-21-semibold {
  font-size: 3.25rem;
  font-weight: 600;
}

.t-21-bold {
  font-size: 3.25rem;
  font-weight: 700;
}

.t-21-bolder {
  font-size: 3.25rem;
  font-weight: 900;
}

.t-line-21 {
  line-height: 3.25rem;
}

.t-height-22 {
  height: 3.375rem;
}

.t-22 {
  font-size: 3.375rem !important;
}

.t-22-regular {
  font-size: 3.375rem;
  font-weight: 400;
}

.t-22-medium {
  font-size: 3.375rem;
  font-weight: 500;
}

.t-22-semibold {
  font-size: 3.375rem;
  font-weight: 600;
}

.t-22-bold {
  font-size: 3.375rem;
  font-weight: 700;
}

.t-22-bolder {
  font-size: 3.375rem;
  font-weight: 900;
}

.t-line-22 {
  line-height: 3.375rem;
}

.t-height-23 {
  height: 3.5rem;
}

.t-23 {
  font-size: 3.5rem !important;
}

.t-23-regular {
  font-size: 3.5rem;
  font-weight: 400;
}

.t-23-medium {
  font-size: 3.5rem;
  font-weight: 500;
}

.t-23-semibold {
  font-size: 3.5rem;
  font-weight: 600;
}

.t-23-bold {
  font-size: 3.5rem;
  font-weight: 700;
}

.t-23-bolder {
  font-size: 3.5rem;
  font-weight: 900;
}

.t-line-23 {
  line-height: 3.5rem;
}

.t-height-24 {
  height: 3.625rem;
}

.t-24 {
  font-size: 3.625rem !important;
}

.t-24-regular {
  font-size: 3.625rem;
  font-weight: 400;
}

.t-24-medium {
  font-size: 3.625rem;
  font-weight: 500;
}

.t-24-semibold {
  font-size: 3.625rem;
  font-weight: 600;
}

.t-24-bold {
  font-size: 3.625rem;
  font-weight: 700;
}

.t-24-bolder {
  font-size: 3.625rem;
  font-weight: 900;
}

.t-line-24 {
  line-height: 3.625rem;
}

.t-height-25 {
  height: 3.75rem;
}

.t-25 {
  font-size: 3.75rem !important;
}

.t-25-regular {
  font-size: 3.75rem;
  font-weight: 400;
}

.t-25-medium {
  font-size: 3.75rem;
  font-weight: 500;
}

.t-25-semibold {
  font-size: 3.75rem;
  font-weight: 600;
}

.t-25-bold {
  font-size: 3.75rem;
  font-weight: 700;
}

.t-25-bolder {
  font-size: 3.75rem;
  font-weight: 900;
}

.t-line-25 {
  line-height: 3.75rem;
}

.t-height-26 {
  height: 3.875rem;
}

.t-26 {
  font-size: 3.875rem !important;
}

.t-26-regular {
  font-size: 3.875rem;
  font-weight: 400;
}

.t-26-medium {
  font-size: 3.875rem;
  font-weight: 500;
}

.t-26-semibold {
  font-size: 3.875rem;
  font-weight: 600;
}

.t-26-bold {
  font-size: 3.875rem;
  font-weight: 700;
}

.t-26-bolder {
  font-size: 3.875rem;
  font-weight: 900;
}

.t-line-26 {
  line-height: 3.875rem;
}

.t-height-27 {
  height: 4rem;
}

.t-27 {
  font-size: 4rem !important;
}

.t-27-regular {
  font-size: 4rem;
  font-weight: 400;
}

.t-27-medium {
  font-size: 4rem;
  font-weight: 500;
}

.t-27-semibold {
  font-size: 4rem;
  font-weight: 600;
}

.t-27-bold {
  font-size: 4rem;
  font-weight: 700;
}

.t-27-bolder {
  font-size: 4rem;
  font-weight: 900;
}

.t-line-27 {
  line-height: 4rem;
}

.t-height-28 {
  height: 4.125rem;
}

.t-28 {
  font-size: 4.125rem !important;
}

.t-28-regular {
  font-size: 4.125rem;
  font-weight: 400;
}

.t-28-medium {
  font-size: 4.125rem;
  font-weight: 500;
}

.t-28-semibold {
  font-size: 4.125rem;
  font-weight: 600;
}

.t-28-bold {
  font-size: 4.125rem;
  font-weight: 700;
}

.t-28-bolder {
  font-size: 4.125rem;
  font-weight: 900;
}

.t-line-28 {
  line-height: 4.125rem;
}

.t-height-29 {
  height: 4.25rem;
}

.t-29 {
  font-size: 4.25rem !important;
}

.t-29-regular {
  font-size: 4.25rem;
  font-weight: 400;
}

.t-29-medium {
  font-size: 4.25rem;
  font-weight: 500;
}

.t-29-semibold {
  font-size: 4.25rem;
  font-weight: 600;
}

.t-29-bold {
  font-size: 4.25rem;
  font-weight: 700;
}

.t-29-bolder {
  font-size: 4.25rem;
  font-weight: 900;
}

.t-line-29 {
  line-height: 4.25rem;
}

.t-pointer {
  cursor: pointer;
}

.t-left {
  text-align: left !important;
}

.t-right {
  text-align: right !important;
}

.t-center {
  text-align: center !important;
}

@media (min-width: 576px) {
  .t-sm-left {
    text-align: left !important;
  }

  .t-sm-right {
    text-align: right !important;
  }

  .t-sm-center {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .t-md-left {
    text-align: left !important;
  }

  .t-md-right {
    text-align: right !important;
  }

  .t-md-center {
    text-align: center !important;
  }
}
@media (min-width: 992px) {
  .t-lg-left {
    text-align: left !important;
  }

  .t-lg-right {
    text-align: right !important;
  }

  .t-lg-center {
    text-align: center !important;
  }
}
@media (min-width: 1200px) {
  .t-xl-left {
    text-align: left !important;
  }

  .t-xl-right {
    text-align: right !important;
  }

  .t-xl-center {
    text-align: center !important;
  }
}
.t-column-2 {
  column-count: 2;
}

.width-15 {
  width: 15%;
}

.width-20 {
  width: 20%;
}

.width-25 {
  width: 25%;
}

.width-33 {
  width: calc(100% / 3);
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-80 {
  width: 80%;
}

.width-66 {
  width: calc(200% / 3);
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

.width-auto {
  width: auto !important;
}

@media (max-width: 950px) {
  .width-responsive, .width-15, .width-20, .width-25, .width-33, .width-40, .width-50, .width-80, .width-66, .width-75, .width-100, .width-auto {
    width: 100%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 950px) {
  .width-container-responsive {
    flex-direction: column;
  }
}

.bg-primary {
  background-color: #CEBFB3;
}

.bg-secondary {
  background-color: #FCF8F0;
}

.bg-light {
  background-color: #FFF5D9;
}

.bg-dark {
  background-color: #6cb2eb;
}

.bg-danger {
  background-color: #E80D16;
}

.bg-success {
  background-color: #6cb2eb;
}

.bg-muted {
  background-color: #F7F7F7;
}

.bg-white {
  background-color: #fff;
}

.b-all {
  border: 1px solid #F7F7F7;
}

.b-all-dark {
  border: 1px solid #6cb2eb;
}

.b-b {
  border-bottom: 1px solid #F7F7F7;
}

.b-b-primary {
  border-bottom: 1px solid #CEBFB3;
}

.b-t {
  border-top: 1px solid #F2F2F2;
}

.b-r {
  border-right: 1px solid #F2F2F2;
}

.b-l {
  border-left: 1px solid #F2F2F2;
}

.b-y {
  border-top: 1px solid #F2F2F2;
  border-bottom: 1px solid #F2F2F2;
}

.b-x {
  border-right: 1px solid #F2F2F2;
  border-left: 1px solid #F2F2F2;
}

.height-100 {
  height: 100%;
}

.flex-1 {
  flex: 1;
}

.cell-grid-5 {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-gap: 10px;
}
.cell-grid-5 .cell {
  display: block;
  text-decoration: none;
  min-height: 200px;
}
.cell-grid-5 .cell.cell-1 {
  grid-column: 1/span 3;
}
.cell-grid-5 .cell.cell-2 {
  grid-column: 4/span 2;
}
.cell-grid-5 .cell.cell-3 {
  grid-column: 1/span 2;
}
.cell-grid-5 .cell.cell-4 {
  grid-column: 3/span 3;
  grid-row: 2/span 2;
}
.cell-grid-5 .cell.cell-5 {
  grid-column: 1/span 2;
}
.cell-grid-5 .cell.cell-6 {
  grid-column: 1/span 2;
}
.cell-grid-5 .cell.cell-7 {
  grid-column: 3/span 3;
}

.cell-grid-2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
}
.cell-grid-2 .cell {
  display: block;
  text-decoration: none;
  min-height: 250px;
}
.cell-grid-2 .cell.cell-1 {
  grid-column: 1/span 1;
}
.cell-grid-2 .cell.cell-2 {
  grid-column: 2/span 1;
  grid-row: 1/span 2;
}
.cell-grid-2 .cell.cell-3 {
  grid-column: 1/span 1;
}

@media (max-width: 950px) {
  .cell-responsive, .cell-grid-5 .cell.cell-1, .cell-grid-5 .cell.cell-2, .cell-grid-5 .cell.cell-3, .cell-grid-5 .cell.cell-4, .cell-grid-5 .cell.cell-5, .cell-grid-5 .cell.cell-6, .cell-grid-5 .cell.cell-7, .cell-grid-2 .cell.cell-1, .cell-grid-2 .cell.cell-2, .cell-grid-2 .cell.cell-3 {
    grid-column: 1/span 5 !important;
  }
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  margin: 0;
}

.page-link {
  position: relative;
  display: block;
  font-size: 0.75rem;
  color: #8D8D8D;
  background-color: #fff;
  border: 1px solid #F2F2F2;
  text-decoration: none;
  border-radius: 0;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  margin: 0 5px;
}

.page-link:hover {
  z-index: 2;
  color: #8D8D8D;
  text-decoration: none;
  background-color: #F7F7F7;
  border-color: #F7F7F7;
}

.page-link:focus {
  z-index: 3;
  outline: 0;
}

.page-item:first-child .page-link {
  margin-left: 0;
}

.page-item:last-child .page-link {
  margin-right: 0;
}

.page-item.active .page-link {
  z-index: 3;
  border-color: #E80D16;
}

.page-item.disabled .page-link {
  display: none;
  color: #6c757d;
  pointer-events: none;
  cursor: auto;
  background-color: #F7F7F7;
  border-color: #F7F7F7;
}

.pagination-lg .page-link {
  padding: 0.75rem 1.5rem;
  font-size: 1.25rem;
  line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
  border-top-left-radius: 0.2rem;
  border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.padding-50 {
  padding-bottom: 50%;
}

.padding-75 {
  padding-bottom: 75%;
}

.padding-100 {
  padding-bottom: 100%;
}

.abs-y-top {
  position: absolute;
  top: 0;
}

.abs-y-bottom {
  position: absolute;
  bottom: 0;
}

.abs-x-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.position-relative {
  position: relative;
}

.abs-y-center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contain {
  background-position: center;
  background-repeat: no-repeat !important;
  background-size: contain;
}

.ratio-1-1 {
  width: 100%;
  padding-bottom: 100%;
}

.ratio-4-3 {
  width: 100%;
  padding-bottom: calc(calc(100% * 3) / 4);
}

.ratio-3-4 {
  width: 100%;
  padding-bottom: calc(calc(100% * 4) / 3);
}

.ratio-1-2 {
  width: 100%;
  padding-bottom: calc(calc(100% * 2) / 1);
}

.ratio-2-1 {
  width: 100%;
  padding-bottom: calc(calc(100% * 1) / 2);
}

.ratio-16-9 {
  width: 100%;
  padding-bottom: calc(calc(100% * 9) / 16);
}

.ratio-9-16 {
  width: 100%;
  padding-bottom: calc(calc(100% * 16) / 9);
}

.ratio-16-4 {
  width: 100%;
  padding-bottom: calc(calc(100% * 4) / 16);
}

.ratio-5-3 {
  width: 100%;
  padding-bottom: calc(calc(100% * 3) / 5);
}

.ratio-6-4 {
  width: 100%;
  padding-bottom: calc(calc(100% * 4) / 6);
}

.ratio-6-5 {
  width: 100%;
  padding-bottom: calc(calc(100% * 5) / 6);
}

.ratio-5-7 {
  width: 100%;
  padding-bottom: calc(calc(100% * 7) / 5);
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.z-index-3 {
  z-index: 3;
}

.z-index-4 {
  z-index: 4;
}

.z-index-5 {
  z-index: 5;
}

.z-index-6 {
  z-index: 6;
}

.z-index-7 {
  z-index: 7;
}

.z-index-8 {
  z-index: 8;
}

.z-index-9 {
  z-index: 9;
}

.z-index-10 {
  z-index: 10;
}

.no-animation {
  transition: unset !important;
}

.display-block {
  padding: 90px 0;
  background-color: #F7F7F7;
}
.display-block .display-block-inner {
  margin: auto;
  display: flex;
  flex-direction: column;
}
.display-block .display-block-inner .block-label {
  width: 60%;
  font-size: 30px;
  color: #000;
  margin-bottom: 60px;
  font-family: "Verdana Bold";
}
.display-block .display-block-inner .block-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.display-block .display-block-inner .block-info .block-description {
  width: 50%;
  background-color: #F2F2F2;
  padding: 25px;
  color: rgba(0, 0, 0, 0.45);
}
.display-block .display-block-inner .block-info .block-visual {
  width: 45%;
  position: relative;
}
.display-block .display-block-inner .block-info .block-visual iframe {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.display-block .display-block-inner .block-info .block-visual a {
  max-width: 100%;
}
.display-block .display-block-inner .block-info .block-visual img {
  width: 100% !important;
  max-width: 100% !important;
}
.display-block.gray-block {
  background-color: #F2F2F2;
}
.display-block.gray-block .block-description {
  background-color: transparent !important;
  padding: 0 !important;
}
.display-block.gradient-block {
  background: linear-gradient(#F2F2F2, #F7F7F7);
}
.display-block.gradient-block .block-description {
  background-color: transparent !important;
  padding: 0 !important;
}
@media (max-width: 991px) and (min-width: 836px) {
  .display-block .display-block-inner {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .display-block .display-block-inner .block-label {
    width: 90% !important;
  }
  .display-block .display-block-inner .block-visual {
    width: 40% !important;
  }
}
@media (max-width: 835px) {
  .display-block .display-block-inner {
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .display-block .display-block-inner .block-label {
    width: 100%;
    font-size: 25px;
    margin-bottom: 50px;
  }
  .display-block .display-block-inner .block-info {
    flex-direction: column-reverse;
  }
  .display-block .display-block-inner .block-info .block-description {
    width: 100%;
  }
  .display-block .display-block-inner .block-info .block-visual {
    width: 100%;
    margin-bottom: 30px;
  }
}

.grid-display.gray {
  background-color: #F2F2F2;
}
.grid-display .grid-inner {
  display: flex;
  flex-direction: column;
}
.grid-display .grid-inner .grid-card {
  width: 100%;
  display: flex;
  margin-bottom: 70px;
}
.grid-display .grid-inner .grid-card .grid-virtual {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.grid-display .grid-inner .grid-card .grid-virtual .line {
  width: 60%;
  height: 5px;
  background-color: rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}
.grid-display .grid-inner .grid-card .grid-info {
  width: 50%;
  margin-top: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.grid-display .grid-inner .grid-card:nth-child(even) {
  flex-direction: row-reverse;
}
.grid-display .grid-inner .grid-card:last-child {
  margin-bottom: 0 !important;
}
@media (max-width: 835px) {
  .grid-display .grid-inner .grid-card {
    flex-direction: column;
  }
  .grid-display .grid-inner .grid-card .grid-virtual {
    width: 100%;
  }
  .grid-display .grid-inner .grid-card .grid-info {
    width: 100%;
  }
  .grid-display .grid-inner .grid-card:nth-child(even) {
    flex-direction: column;
  }
}

.page-description .page-desc {
  width: 60%;
}
@media (max-width: 991px) and (min-width: 836px) {
  .page-description .page-desc {
    width: 80%;
  }
}
@media (max-width: 835px) {
  .page-description .page-desc {
    width: 100%;
  }
}

.a-name {
  position: absolute;
  display: block;
  margin-top: -200px !important;
}

.c-button {
  background-color: transparent !important;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #000 !important;
  font-size: 12px !important;
  font-family: "Verdana Bold";
  margin-top: 20px !important;
  padding: 12px 30px;
  width: max-content;
  cursor: pointer !important;
}
.c-button:hover {
  border: 1px solid #000 !important;
}
.c-button .btn-text {
  font-size: 12px !important;
  font-family: "Verdana Bold";
  text-transform: uppercase;
}

.sm-label {
  font-size: 16px;
  font-family: "Verdana Bold";
  color: #000;
  margin-bottom: 20px;
}
.sm-label.t-align {
  text-align: center;
}

.lg-label {
  font-size: 30px;
  font-family: "Verdana Bold";
  color: #000;
  margin-bottom: 20px;
}

.section-50-50 {
  padding: 50px 0;
}

.section-80-80 {
  padding: 80px 0;
}

.section-100-100 {
  padding: 100px 0;
}

.section-120-120 {
  padding: 120px 0;
}

.section-inner {
  margin: auto;
}

.op-45 {
  opacity: 0.45 !important;
}

.section-label {
  font-size: 25px;
  font-family: "Verdana Bold";
  margin-bottom: 35px;
}

.banner-label {
  font-size: 30px;
  font-family: "Verdana Bold";
  color: #fff;
  margin-bottom: 10px;
}

.bread-inner * {
  color: #fff;
  opacity: 0.65;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.bg-gray {
  background-color: #F2F2F2;
}

.bg-03 {
  background-color: rgba(255, 255, 255, 0.03);
}

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F7F7F7;
}

* {
  box-sizing: border-box;
  font-family: "Verdana";
  font-size: 13px;
}

.content {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}
@media (min-width: 992px) {
  .content {
    padding: 0 20px;
  }
}
@media (max-width: 991px) and (min-width: 836px) {
  .content {
    padding: 0 20px;
  }
}
@media (max-width: 835px) {
  .content {
    padding: 0 20px;
  }
}

.content-small {
  width: 100%;
  max-width: 700px;
  margin: auto;
}

.content-smaller {
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.search-page .results-container .search-result-card, .software-page .Filters .software-filters .modules-row .module-card .image-container, .software-page .Filters .software-filters .modules-row .module-card, .products-row .product-card .product-info .product-sublabel, .products-row .product-card .product-image .image, .product-details-page .details .product-descriptions .desc-row .desc, .product-details-page .details .product-descriptions .labels-row .label-tag, .product-details-page .details .product-visual .visual-desc .detail-card, .product-details-page .details .product-visual .visual-images .md-images .md-img, .product-details-page .details .product-visual .visual-images .images-row .sm-img, .news-details-page .details .news-inner .media-row .media-container .media-card .image, .application-inner .wpforms-container .wpforms-submit, .contact-page .contact-inner .contact-info .contact-item, .contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .details, .contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .general:after, .contact-inner .distributors .distributors-inner .dist-info .search-distributors .results-dist, .home-page .home-products .products-inner .home-product-card .page-description, header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu a, header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu, header.main_menu nav ul.mobile ul.sub-menu li.menu-item a, header.main_menu nav ul.mobile li.menu-item a, header.main_menu nav ul.mobile, header.main_menu nav ul.menu ul.sub-menu li.menu-item a, header.main_menu .top, header.main_menu, .c-button {
  transition: 0.3s all;
}

/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: #000 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #343538 !important;
  box-shadow: 0 1px 0 0 #343538 !important;
}

.fancybox-content h2 {
  font-size: 30px !important;
}

@media (max-width: 835px) {
  .g-recaptcha {
    transform: scale(0.8);
    transform-origin: 0 0;
  }
}

header.main_menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
header.main_menu .top {
  background-color: #fff;
  height: 50px;
  max-height: 50px;
  overflow: hidden;
}
header.main_menu .top .content-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 4%;
}
header.main_menu .top .content-header .logo {
  height: 100%;
  display: flex;
  align-items: center;
}
header.main_menu .top .content-header .logo a.custom-logo-link {
  display: block;
  flex-grow: 0;
  flex-shrink: 9;
  width: 100px;
  transition: all 0.6s;
}
header.main_menu .top .content-header .logo a.custom-logo-link img {
  width: 100px;
  max-height: 45px;
  margin: 5px 0;
  height: auto;
  transition: all 0.6s;
}
header.main_menu .top .content-header .features {
  width: 45%;
  display: flex;
  align-items: center;
}
@media (max-width: 835px) {
  header.main_menu .top .content-header .features {
    width: max-content;
  }
}
header.main_menu .top .content-header .search {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
header.main_menu .top .content-header .search form {
  width: 100%;
  display: flex;
  align-items: center;
}
header.main_menu .top .content-header .search form input {
  width: calc(100% - 20px);
  border: 0;
  outline: 0;
  height: 60px;
  font-size: 13px;
}
header.main_menu .top .content-header .search form button {
  background-color: transparent;
  border: 0;
  outline: 0;
}
header.main_menu .top .content-header .search form button .search-icon {
  width: 15px;
  height: 15px;
}
header.main_menu .top .content-header .languages {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
header.main_menu .top .content-header .languages ul {
  display: flex;
}
header.main_menu .top .content-header .languages ul li {
  padding: 0 10px !important;
}
header.main_menu nav {
  height: 50px;
  background-color: #343538;
}
header.main_menu nav .content-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
  position: relative;
  height: 50px;
}
header.main_menu nav ul.menu {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
@media (min-width: 992px) {
  header.main_menu nav ul.menu {
    display: flex;
  }
}
@media (max-width: 991px) and (min-width: 836px) {
  header.main_menu nav ul.menu {
    display: flex;
  }
}
@media (max-width: 835px) {
  header.main_menu nav ul.menu {
    display: none;
  }
}
header.main_menu nav ul.menu li.menu-item {
  display: flex;
  align-items: stretch;
  position: relative;
  height: 100%;
}
header.main_menu nav ul.menu li.menu-item a {
  font-size: 13px;
  color: #fff;
  align-content: center;
  display: flex;
  padding: 0 25px;
  align-items: center;
  line-height: unset !important;
}
header.main_menu nav ul.menu li.menu-item a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
header.main_menu nav ul.menu li.menu-item:hover ul.sub-menu a {
  max-height: 100px;
  padding: 10px 30px 10px 20px;
}
header.main_menu nav ul.menu li.menu-item.menu-item-has-children a:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  padding: 1px 5px 0 5px;
  font-size: 10px;
  color: #fff;
}
header.main_menu nav ul.menu li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.menu ul.sub-menu {
  position: absolute;
  background-color: #343538;
  flex-wrap: wrap;
  top: 50px;
  width: 200px;
  z-index: -1;
  padding-right: 0 !important;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item {
  display: flex;
  width: 100%;
  position: relative;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item:not(.menu-item-has-children) a:after {
  display: none !important;
}
header.main_menu nav ul.menu ul.sub-menu li.menu-item a {
  padding: 0px 30px 0 20px;
  font-size: 13px;
  color: #fff;
  line-height: 1.5 !important;
  border-bottom: 0px;
  overflow: hidden;
  max-height: 0;
  width: 100%;
}
header.main_menu nav a.search-mobile {
  position: absolute;
  top: 0;
  padding: 0;
  height: 50px;
  line-height: 50px;
  display: none;
}
header.main_menu nav a.search-mobile i {
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
@media (max-width: 835px) {
  header.main_menu nav a.search-mobile {
    display: block;
  }
}
header.main_menu nav a.toggle {
  position: absolute;
  top: 0;
  padding: 0;
  height: 50px;
  line-height: 50px;
  display: none;
}
@media (min-width: 992px) {
  header.main_menu nav a.toggle {
    display: none;
  }
}
@media (max-width: 991px) and (min-width: 836px) {
  header.main_menu nav a.toggle {
    display: none;
  }
}
@media (max-width: 835px) {
  header.main_menu nav a.toggle {
    display: block;
  }
}
header.main_menu nav a.toggle i {
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
header.main_menu nav a.toggle i:first-of-type {
  display: block;
}
header.main_menu nav a.toggle i:last-of-type {
  display: none;
}
header.main_menu nav a.toggle.expanded i:first-of-type {
  display: none !important;
}
header.main_menu nav a.toggle.expanded i:last-of-type {
  display: block !important;
}
header.main_menu nav ul.mobile {
  flex-grow: 1;
  width: 100%;
  display: block;
  justify-content: flex-end;
  align-items: stretch;
  position: absolute;
  top: 50px;
  height: 0;
  background-color: #fff;
  z-index: -1;
  overflow-x: hidden;
  overflow-y: scroll;
}
@media (min-width: 992px) {
  header.main_menu nav ul.mobile {
    display: none;
  }
}
@media (max-width: 991px) and (min-width: 836px) {
  header.main_menu nav ul.mobile {
    display: none;
  }
}
@media (max-width: 835px) {
  header.main_menu nav ul.mobile {
    display: block;
  }
}
header.main_menu nav ul.mobile.expanded {
  height: calc(100vh - 50px) !important;
}
header.main_menu nav ul.mobile li.menu-item {
  position: relative;
  width: 100%;
  display: block;
}
header.main_menu nav ul.mobile li.menu-item.menu-item-has-children a:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  padding: 1px 0 0 5px;
  font-size: 10px;
  color: #000;
  float: right;
}
header.main_menu nav ul.mobile li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.mobile li.menu-item a {
  font-size: 14px;
  color: #000;
  align-content: center;
  display: block;
  padding: 0 20px;
  align-items: center;
  border-bottom: 2px solid transparent;
  height: 50px;
  line-height: 50px;
}
header.main_menu nav ul.mobile li.menu-item a:hover {
  border-bottom-color: #000;
  background-color: transparent;
  color: #000;
}
header.main_menu nav ul.mobile ul.sub-menu {
  position: static;
  background-color: #fff;
  flex-wrap: wrap;
  top: 80px;
  z-index: -1;
  margin: 0 20px;
}
header.main_menu nav ul.mobile ul.sub-menu.expanded a {
  max-height: 50px !important;
}
header.main_menu nav ul.mobile ul.sub-menu.expanded ul.sub-menu:not(.expanded) {
  max-height: 0px !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item {
  width: 100%;
  position: relative;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item.menu-item-has-children a {
  position: relative;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item.menu-item-has-children a:after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  font-size: 10px;
  color: #000;
  float: right;
  display: flex;
  align-items: center;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item.menu-item-has-children a:hover {
  border-bottom-color: transparent !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item:not(.menu-item-has-children) a:after {
  display: none !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item:hover a {
  color: #000;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item:hover ul a {
  color: #000;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item a {
  padding: 0px 20px 0 20px;
  height: 50px;
  max-height: 0px;
  line-height: 50px;
  font-size: 13px;
  color: #000;
  border-bottom: 0px;
  overflow: hidden;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item a:hover {
  color: #000 !important;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu {
  background-color: #000;
  overflow: hidden;
  z-index: -3;
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu a:after {
  content: "";
}
header.main_menu nav ul.mobile ul.sub-menu li.menu-item ul.sub-menu.expanded a {
  max-height: 50px !important;
}
@media (max-width: 835px) {
  header.main_menu {
    max-width: 100vw;
    width: 100%;
  }
  header.main_menu .top {
    height: 50px;
    max-height: 50px;
  }
  header.main_menu .top .content-header .logo a.custom-logo-link {
    width: 80px;
  }
  header.main_menu .top .content-header .logo a.custom-logo-link img {
    width: 80px;
    max-height: 45px;
  }
  header.main_menu .top .content-header .search form {
    display: none;
  }
}

.parallax-window {
  position: relative !important;
}

.gradient-round {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: radial-gradient(circle at center, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.75) 100%);
  z-index: 1;
}

.gradient-15-60 {
  background: linear-gradient(rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.6));
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.page-top {
  margin-top: 95px;
}

.page-banner {
  width: 100%;
  height: calc(100vh - 300px);
  position: relative;
  background-color: transparent;
  min-height: 400px;
}
.page-banner .banner-inner {
  width: 100%;
  height: calc(100vh - 300px);
  position: relative;
  min-height: 400px;
}
.page-banner .banner-inner .image {
  width: 100%;
  height: 100%;
}
.page-banner .banner-inner .banner-info {
  position: absolute;
  bottom: 10%;
  right: 0;
  left: 0;
  z-index: 2;
  margin: auto;
}
.page-banner .banner-inner .banner-info .sublabel {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.page-banner .banner-inner .banner-info .label {
  font-size: 60px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
}
.page-banner .banner-inner .banner-info .description {
  opacity: 0.65;
  color: #fff;
  width: 45%;
}

.home-page .homepage-banner {
  width: 100%;
  height: calc(100vh - 300px);
  position: relative;
  background-color: #000;
  min-height: 400px;
  margin-top: 95px;
}
.home-page .homepage-banner .banner-carousel {
  height: 100%;
}
.home-page .homepage-banner .slide {
  width: 100vw;
  height: calc(100vh - 300px);
  position: relative;
  min-height: 400px;
}
.home-page .homepage-banner .slide .image {
  width: 100%;
  height: 100%;
}
.home-page .homepage-banner .slide .banner-info {
  position: absolute;
  bottom: 15%;
  right: 0;
  left: 0;
  z-index: 2;
  margin: auto;
}
.home-page .homepage-banner .slide .banner-info .sublabel {
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.home-page .homepage-banner .slide .banner-info .label {
  font-size: 60px;
  font-weight: bold;
  text-transform: capitalize;
  color: #fff;
}
.home-page .homepage-banner .slide .banner-info .description {
  opacity: 0.65;
  color: #fff;
  width: 45%;
}
@media (max-width: 991px) and (min-width: 836px) {
  .home-page .homepage-banner .slide .description {
    width: 60% !important;
  }
}
@media (max-width: 835px) {
  .home-page .homepage-banner {
    margin-top: 95px;
  }
  .home-page .homepage-banner .slide .banner-info {
    bottom: 8%;
  }
  .home-page .homepage-banner .slide .banner-info .label {
    font-size: 40px;
    line-height: 45px;
    margin: 10px 0;
  }
  .home-page .homepage-banner .slide .banner-info .description {
    width: 100%;
  }
}
.home-page .home-products {
  background-color: #F2F2F2;
}
.home-page .home-products .products-inner {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.15%;
}
.home-page .home-products .products-inner .home-product-card {
  width: 31%;
  display: flex;
  flex-direction: column;
  margin: 0 1.15% 1.15% 1.15%;
}
.home-page .home-products .products-inner .home-product-card * {
  color: #000;
}
.home-page .home-products .products-inner .home-product-card .page-label {
  font-size: 18px;
  font-family: "Verdana Bold";
  margin: 8px 0;
}
@media (max-width: 991px) and (min-width: 836px) {
  .home-page .home-products .products-inner .home-product-card .page-label {
    font-size: 15px;
  }
}
.home-page .home-products .products-inner .home-product-card:hover .page-description {
  opacity: 1;
}
@media (max-width: 835px) {
  .home-page .home-products .products-inner {
    margin: 0;
    flex-direction: column;
  }
  .home-page .home-products .products-inner .home-product-card {
    width: 100%;
    margin-bottom: 40px;
  }
  .home-page .home-products .products-inner .home-product-card:last-child {
    margin-bottom: 0 !important;
  }
}
.home-page .home-testimonials {
  background-color: #F7F7F7;
}
.home-page .home-testimonials .testimonials-button {
  padding: 12px 40px !important;
}
.home-page .partners {
  background-color: #F2F2F2;
}
.home-page .contact-us {
  background-color: #F7F7F7;
}
.home-page .contact-us .contact-inner {
  display: flex;
  flex-wrap: wrap;
}
.home-page .contact-us .contact-inner .contact-info {
  width: 50%;
}
.home-page .contact-us .contact-inner .contact-info .contact-inner {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.home-page .contact-us .contact-inner .contact-info .contact-inner .flex-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.home-page .contact-us .contact-inner .contact-info .contact-inner .flex-row .row-label {
  width: 30%;
  font-family: "Verdana Bold";
}
.home-page .contact-us .contact-inner .contact-info .contact-inner .flex-row .row-info {
  opacity: 0.65;
  width: 70%;
}
.home-page .contact-us .contact-inner .contact-info .contact-inner .flex-row .get-directions {
  width: 70%;
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}
.home-page .contact-us .contact-inner .distributors {
  width: 50%;
}
@media (max-width: 835px), (max-width: 991px) and (min-width: 836px) {
  .home-page .contact-us .contact-inner {
    flex-direction: column;
  }
  .home-page .contact-us .contact-inner .contact-info {
    width: 100%;
    margin-bottom: 30px;
  }
  .home-page .contact-us .contact-inner .contact-info .contact-inner {
    width: 100%;
  }
  .home-page .contact-us .contact-inner .distributors {
    width: 100%;
  }
}

.contact-inner {
  display: flex;
  flex-wrap: wrap;
}
.contact-inner .distributors {
  width: 100%;
}
.contact-inner .distributors .distributors-inner {
  width: 100%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  height: 450px;
}
.contact-inner .distributors .distributors-inner .dist-info {
  width: 48%;
}
.contact-inner .distributors .distributors-inner .dist-info .guideline {
  font-size: 16px;
  height: 40px;
}
.contact-inner .distributors .distributors-inner .dist-info .search-distributors {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-inner .distributors .distributors-inner .dist-info .search-distributors .searchDistributors {
  border: 1px solid #EBEBEB;
  display: flex;
  height: 45px;
  align-items: center;
}
.contact-inner .distributors .distributors-inner .dist-info .search-distributors .searchDistributors #search_distributor {
  border: 0;
  outline: 0;
  height: 100%;
  width: calc(100% - 25px);
  padding: 0 8px;
}
.contact-inner .distributors .distributors-inner .dist-info .search-distributors .searchDistributors #search {
  background-color: transparent;
  outline: 0;
  border: 0;
  cursor: pointer;
  padding: 5px;
}
.contact-inner .distributors .distributors-inner .dist-info .search-distributors .searchDistributors #search div {
  width: 15px;
  height: 15px;
}
.contact-inner .distributors .distributors-inner .dist-info .search-distributors .results-dist {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 6px;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result {
  margin-top: 20px;
  height: calc(100% - 120px);
  overflow: auto;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card {
  transition: all 0.3s;
  padding: 15px 20px;
  background-color: #343538;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .general {
  display: flex;
  flex-direction: column;
  transition: all 0.3s;
  position: relative;
  cursor: pointer;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .general .d-name {
  font-size: 14px;
  color: #fff;
  transition: all 0.3s;
  margin-bottom: 5px;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .general .location {
  display: flex;
  font-size: 12px;
  color: #fff;
  opacity: 0.45;
  transition: all 0.3s;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .general .location * {
  font-size: 12px;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .general:after {
  font-family: "Font Awesome 5 Free";
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-weight: 600;
  font-size: 10px;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .details {
  display: flex;
  flex-direction: column;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .details * {
  font-size: 12px;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .details .flex-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  opacity: 0.45;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .details .flex-row .row-label {
  width: 30%;
  word-break: break-all;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .details .flex-row .row-label * {
  word-break: break-all;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .details .flex-row .row-info {
  width: 68%;
  word-break: break-all;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card .details .flex-row .row-info * {
  word-break: break-all;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card.active {
  background-color: #F2F2F2;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card.active .general {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card.active .general .d-name {
  color: #000;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card.active .general .location {
  color: #858585;
  opacity: 1;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card.active .general:after {
  transform: translateY(-100%) rotate(90deg);
  color: #000;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card.active .details {
  padding-top: 15px;
  height: max-content !important;
  opacity: 1;
  visibility: visible;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card:hover {
  background-color: #F2F2F2;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card:hover .general .d-name {
  color: #000;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card:hover .general .location {
  color: #858585;
  opacity: 1;
}
.contact-inner .distributors .distributors-inner .dist-info .distributors-result .distributor-card:hover .general:after {
  color: #000;
}
.contact-inner .distributors .distributors-inner .map {
  width: 48%;
  height: 100%;
}
.contact-inner .distributors .distributors-inner .map iframe {
  width: 100%;
  height: 100%;
}
@media (max-width: 835px), (max-width: 991px) and (min-width: 836px) {
  .contact-inner .distributors .distributors-inner {
    height: fit-content;
    flex-direction: column;
  }
  .contact-inner .distributors .distributors-inner .dist-info {
    width: 100%;
    height: 300px;
    margin-bottom: 40px;
  }
  .contact-inner .distributors .distributors-inner .dist-info .guideline {
    font-size: 16px;
    height: 40px;
  }
  .contact-inner .distributors .distributors-inner .map {
    width: 100%;
    height: 450px;
  }
}

.contact-page .contact-inner .contact-info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}
.contact-page .contact-inner .contact-info .contact-item {
  width: 23%;
  padding: 30px 38px;
  background-color: #F2F2F2;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  cursor: pointer;
}
.contact-page .contact-inner .contact-info .contact-item i {
  width: 25px;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
}
.contact-page .contact-inner .contact-info .contact-item .row-info {
  width: calc(100% - 25px);
  display: flex;
  flex-direction: column;
}
.contact-page .contact-inner .contact-info .contact-item .row-info .row-label {
  font-size: 14px;
  font-family: "Verdana Bold";
  margin-bottom: 15px;
}
.contact-page .contact-inner .contact-info .contact-item .row-info .row-desc {
  font-size: 12px;
}
.contact-page .contact-inner .contact-info .contact-item:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
@media (min-width: 992px) and (max-width: 1450px) {
  .contact-page .contact-inner .contact-info .contact-item {
    width: 48%;
  }
}
@media (max-width: 991px) and (min-width: 836px) {
  .contact-page .contact-inner .contact-info .contact-item {
    width: 48%;
  }
}
@media (max-width: 835px) {
  .contact-page .contact-inner .contact-info .contact-item {
    width: 100%;
  }
}
.contact-page .contact-inner .distributors .distributors-inner {
  height: 650px;
}
.contact-page .contact-inner .distributors .distributors-inner .dist-info {
  width: 28%;
}
.contact-page .contact-inner .distributors .distributors-inner .map {
  width: 70%;
}
@media (max-width: 835px), (max-width: 991px) and (min-width: 836px) {
  .contact-page .contact-inner .distributors .distributors-inner {
    flex-direction: column;
    height: fit-content;
  }
  .contact-page .contact-inner .distributors .distributors-inner .dist-info {
    width: 100%;
  }
  .contact-page .contact-inner .distributors .distributors-inner .map {
    width: 100%;
  }
}

.application-inner {
  /* label underline focus color */
}
.application-inner .form-label {
  font-size: 22px;
  margin-bottom: 40px;
  text-align: center;
}
.application-inner .ContactForm {
  display: flex;
  flex-direction: column;
}
.application-inner .ContactForm .course-info {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  position: relative;
}
.application-inner .ContactForm .course-info .row-100 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 0 !important;
}
.application-inner .ContactForm .course-info .border-line {
  position: absolute;
  bottom: 0;
  height: 2px;
  background-color: #EBEBEB;
  width: 20%;
}
.application-inner .ContactForm .user-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 40px;
}
.application-inner .ContactForm input, .application-inner .ContactForm textarea {
  width: 100%;
  background-color: #fff;
  border: 1px solid #EBEBEB;
  font-size: 13px;
  margin-bottom: 10px;
  outline: 0;
}
.application-inner .ContactForm input {
  height: 45px;
}
.application-inner .ContactForm textarea {
  height: 100px;
  padding: 20px;
}
.application-inner .ContactForm .app-submit {
  width: 100%;
  text-align: center;
}
.application-inner .cathi-select {
  width: 48%;
  background-color: #fff;
  border: 1px solid #EBEBEB;
  color: #000;
  font-size: 13px;
  margin-bottom: 10px;
  height: 45px;
}
.application-inner .input-label {
  font-size: 12px;
  color: #000;
  font-family: "Verdana Bold";
  margin-bottom: 10px;
}
.application-inner .row-100 {
  width: 100%;
  margin-bottom: 10px;
}
.application-inner .row-50 {
  width: 48%;
  margin-bottom: 10px;
}
.application-inner .wpforms-container .wpforms-field-required {
  border: 1px solid #EBEBEB !important;
}
.application-inner .wpforms-container .wpforms-submit-container {
  text-align: center;
}
.application-inner .wpforms-container .wpforms-submit {
  background-color: transparent !important;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #000 !important;
  font-size: 13px !important;
  font-weight: bold !important;
  margin: auto !important;
}
.application-inner .wpforms-container .wpforms-submit:hover {
  border: 1px solid #000 !important;
}
.application-inner button {
  margin: auto;
}
.application-inner input[type=text]:focus + label, .application-inner input[type=email]:focus + label, .application-inner .materialize-textarea:focus:not([readonly]) + label {
  color: #000 !important;
}
.application-inner input[type=text]:focus, .application-inner input[type=email]:focus, .application-inner .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #343538 !important;
  box-shadow: 0 0px 0 0 #343538 !important;
}

.testimonials-row {
  margin: 0 -1.15%;
}
.testimonials-row .testimonial-card {
  width: 31%;
  background-color: #fff;
  border-top: 3px solid rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  padding: 30px 35px;
  display: flex;
  justify-content: space-between;
  height: fit-content;
  margin: 0 1.15% 25px 1.15% !important;
}
.testimonials-row .testimonial-card .quote {
  width: 10%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translateY(-10px);
}
.testimonials-row .testimonial-card .testimnonial-info {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.testimonials-row .testimonial-card .testimnonial-info .testimonial {
  margin-bottom: 15px;
}
.testimonials-row .testimonial-card .testimnonial-info .fullName {
  opacity: 0.5;
  margin-bottom: 15px;
  font-family: "Verdana Bold";
}
.testimonials-row .testimonial-card .testimnonial-info .position {
  margin-bottom: 15px;
  opacity: 0.5;
}
.testimonials-row .testimonial-card .testimnonial-info .image img {
  max-width: 200px;
  max-height: 200px;
}
@media (max-width: 991px) and (min-width: 836px) {
  .testimonials-row .testimonial-card {
    width: 47%;
  }
}
@media (max-width: 835px) {
  .testimonials-row {
    margin: 0;
  }
  .testimonials-row .testimonial-card {
    width: 100%;
    margin: 0 0 30px 0 !important;
  }
}

.partners-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1%;
}
.partners-row .partner-card {
  width: 18%;
  margin: 0 1% 1% 1%;
  min-width: 130px;
}
.partners-row .partner-card .logo {
  width: 130px;
  height: 130px;
  margin: auto;
}
.partners-row .partner-card:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
@media (max-width: 991px) and (min-width: 836px) {
  .partners-row .partner-card {
    min-width: auto !important;
  }
  .partners-row .partner-card .logo {
    width: 100px;
    height: 100px;
  }
}
@media (max-width: 835px) {
  .partners-row .partner-card {
    width: 30%;
    min-width: auto !important;
  }
  .partners-row .partner-card .logo {
    width: 80px;
    height: 80px;
  }
}

.about-page .team .team-row {
  display: flex;
  justify-content: space-between;
}
.about-page .team .team-row .team-card {
  width: 28%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.about-page .team .team-row .team-card .image {
  margin-bottom: 20px;
}
@media(max-width: 835px) {
  .about-page .team .team-row {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .about-page .team .team-row .team-card {
    width: 100%;
  }
  .about-page .team .team-row:last-child {
    margin-bottom: 0 !important;
  }
}

.news-page .news-media .news-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1.15%;
}
.news-page .news-media .news-row .news-card {
  width: 31%;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 1.15% 40px 1.15%;
}
.news-page .news-media .news-row .news-card .visual {
  position: relative;
  margin-bottom: 20px;
  border-radius: 5px;
}
.news-page .news-media .news-row .news-card .visual .image {
  border-radius: 5px;
}
.news-page .news-media .news-row .news-card .visual .gradient-15-60 {
  border-radius: 5px;
}
.news-page .news-media .news-row .news-card .visual .category {
  z-index: 2;
  position: absolute;
  top: 18px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 7px 9px;
  font-size: 11px;
}
.news-page .news-media .news-row .news-card .visual .label {
  position: absolute;
  bottom: 18px;
  width: 70%;
  font-size: 20px;
  color: #fff;
  z-index: 2;
}
.news-page .news-media .news-row .news-card .description {
  color: #898989;
  font-size: 12px;
  height: 54px;
}
.news-page .news-media .news-row .news-card .c-button {
  padding: 10px 30px;
}
.news-page .news-media .news-row .news-card .c-button .btn-text {
  font-size: 12px;
}
@media (max-width: 991px) and (min-width: 836px), (max-width: 1200px) and (min-width: 991px) {
  .news-page .news-media .news-row .news-card {
    width: 47%;
  }
}
@media (max-width: 835px) {
  .news-page .news-media .news-row {
    margin: 0;
  }
  .news-page .news-media .news-row .news-card {
    width: 100%;
    margin: 0 0 30px 0 !important;
  }
}

.Filters {
  background-color: #EFEFEF;
  height: 70px;
  width: 100%;
  z-index: 9;
}
.Filters .section-inner {
  display: flex;
  align-items: center;
  height: 100%;
}
.Filters .section-inner .filter-inner {
  outline: 0;
}
.Filters .section-inner .filter-inner select {
  background-color: transparent;
  width: max-content;
  outline: 0;
  border: 0;
}
.Filters .section-inner .searchBlock {
  width: 100%;
  display: flex;
  align-items: center;
}
.Filters .section-inner .searchBlock .search-icon {
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.Filters .section-inner .searchBlock .search_input {
  background-color: transparent;
  border: 0;
  outline: 0;
  width: 100%;
  font-size: 16px;
}
@media (max-width: 835px) {
  .Filters {
    height: fit-content;
  }
  .Filters .section-inner {
    flex-wrap: wrap;
  }
  .Filters .section-inner .filter-inner {
    width: 48%;
    margin-bottom: 10px;
  }
  .Filters .section-inner .searchBlock {
    width: 100%;
    height: 70px;
  }
}

.news-details-page .details .news-inner .news-label {
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}
.news-details-page .details .news-inner .news-sublabel {
  width: 70%;
  font-size: 13px;
  margin-bottom: 20px;
}
.news-details-page .details .news-inner .news-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}
.news-details-page .details .news-inner .news-header .header-left {
  width: fit-content;
  display: flex;
  align-items: center;
}
.news-details-page .details .news-inner .news-header .header-left .news-category {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 10px 15px;
}
.news-details-page .details .news-inner .news-header .header-left .news-date {
  font-size: 11px;
  opacity: 0.35;
}
.news-details-page .details .news-inner .news-header .header-right {
  display: flex;
  align-items: center;
}
.news-details-page .details .news-inner .news-header .header-right .share-icon {
  width: 20px;
  height: 20px;
  margin-bottom: 5px;
  margin-left: 5px;
}
.news-details-page .details .news-inner .image {
  border-radius: 5px;
  margin-bottom: 45px;
}
.news-details-page .details .news-inner .description-row {
  margin-bottom: 25px;
}
.news-details-page .details .news-inner .description-row .label {
  font-family: "Verdana Bold";
  margin-bottom: 15px;
}
.news-details-page .details .news-inner .description-row .description {
  opacity: 0.5;
}
.news-details-page .details .news-inner .media-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 -1%;
}
.news-details-page .details .news-inner .media-row .media-container {
  width: 23%;
  margin: 1%;
}
.news-details-page .details .news-inner .media-row .media-container .media-card {
  position: relative;
}
.news-details-page .details .news-inner .media-row .media-container .media-card .image {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.news-details-page .details .news-inner .news-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
  padding-top: 50px;
  position: relative;
}
.news-details-page .details .news-inner .news-bottom .border-line {
  position: absolute;
  top: 0;
  height: 1.5px;
  background-color: #EBEBEB;
  width: 10%;
}
.news-details-page .details .news-inner .news-bottom .nextNews {
  width: 50%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
}
.news-details-page .details .news-inner .news-bottom .nextNews .image-container {
  width: 45%;
}
.news-details-page .details .news-inner .news-bottom .nextNews .information {
  width: 55%;
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-details-page .details .news-inner .news-bottom .nextNews .information .guideline {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}
.news-details-page .details .news-inner .news-bottom .nextNews .information .next-label {
  font-size: 15px;
  color: #000;
}
.news-details-page .details .news-inner .news-bottom .nextNews .information .next-button {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
@media (max-width: 835px) {
  .news-details-page .details .news-inner .news-sublabel {
    width: 100%;
  }
  .news-details-page .details .news-inner .news-header {
    flex-direction: column;
  }
  .news-details-page .details .news-inner .news-header .header-left {
    width: 100%;
    margin-bottom: 15px;
  }
  .news-details-page .details .news-inner .news-header .header-right {
    width: 100%;
    flex-wrap: wrap;
  }
  .news-details-page .details .news-inner .news-bottom {
    flex-direction: column;
    align-items: flex-start;
  }
  .news-details-page .details .news-inner .news-bottom .nextNews {
    width: 100%;
    margin-top: 15px;
  }
}

.academy-page .courses .courses-row {
  display: flex;
  flex-direction: column;
}
.academy-page .courses .courses-row .course-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;
}
.academy-page .courses .courses-row .course-card .course-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.academy-page .courses .courses-row .course-card .course-header .label {
  font-size: 18px;
  width: 48%;
}
.academy-page .courses .courses-row .course-card .course-header .tags-row {
  width: fit-content;
  max-width: 50%;
  display: flex;
  flex-wrap: wrap;
}
.academy-page .courses .courses-row .course-card .course-header .tags-row .category-tag {
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  margin-bottom: 8px;
}
.academy-page .courses .courses-row .course-card .course-header .tags-row .training-tag {
  background-color: rgba(7, 52, 136, 0.05);
  border-radius: 5px;
  font-size: 12px;
  color: #073488;
  padding: 5px 10px;
  margin-bottom: 8px;
}
.academy-page .courses .courses-row .course-card .course-header .tags-row .level-tag {
  background-color: rgba(249, 3, 39, 0.05);
  border-radius: 5px;
  font-size: 12px;
  color: #F90327;
  padding: 5px 10px;
  margin-bottom: 8px;
}
.academy-page .courses .courses-row .course-card .course-body {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}
.academy-page .courses .courses-row .course-card .course-body .information {
  display: flex;
  justify-content: space-between;
}
.academy-page .courses .courses-row .course-card .course-body .information .info-block {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.academy-page .courses .courses-row .course-card .course-body .information .info-block .info-label {
  font-size: 15px;
  font-family: "Verdana Bold";
  margin-bottom: 20px;
}
.academy-page .courses .courses-row .course-card .course-body .information .info-block .info-desc {
  opacity: 0.45;
  width: 85%;
}
@media (max-width: 835px) {
  .academy-page .courses .courses-row .course-card .course-header {
    flex-direction: column;
  }
  .academy-page .courses .courses-row .course-card .course-header .label {
    width: 100%;
    margin-bottom: 15px;
  }
  .academy-page .courses .courses-row .course-card .course-header .tags-row {
    width: 100%;
    max-width: 100% !important;
  }
  .academy-page .courses .courses-row .course-card .course-body .information {
    flex-direction: column;
  }
  .academy-page .courses .courses-row .course-card .course-body .information .info-block {
    width: 100%;
  }
  .academy-page .courses .courses-row .course-card .course-body .information .info-block:first-child {
    margin-bottom: 20px;
  }
}

.product-details-page .product-breadcrumbs {
  background-color: #F2F2F2;
  height: 50px;
  display: flex;
  align-items: center;
}
.product-details-page .product-breadcrumbs * {
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
}
.product-details-page .details .product-visual {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 30px;
}
.product-details-page .details .product-visual .visual-images {
  width: 60%;
  display: flex;
}
.product-details-page .details .product-visual .visual-images .images-row {
  width: 12%;
  overflow-x: auto;
  height: 100%;
}
.product-details-page .details .product-visual .visual-images .images-row .sm-img {
  margin-bottom: 10px;
  opacity: 0.35;
  border-radius: 3px;
  cursor: pointer;
}
.product-details-page .details .product-visual .visual-images .images-row .sm-img.active {
  opacity: 1;
}
.product-details-page .details .product-visual .visual-images .images-row .sm-img:hover {
  opacity: 1;
}
.product-details-page .details .product-visual .visual-images .md-images {
  width: 85%;
  position: relative;
}
.product-details-page .details .product-visual .visual-images .md-images .md-img {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  border-radius: 5px;
  width: 100%;
  height: 100%;
}
.product-details-page .details .product-visual .visual-images .md-images .md-img.active {
  opacity: 1;
  visibility: visible;
}
.product-details-page .details .product-visual .visual-desc {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.product-details-page .details .product-visual .visual-desc .product-name {
  font-size: 25px;
  font-family: "Verdana Bold";
  margin-bottom: 25px;
}
.product-details-page .details .product-visual .visual-desc .detail-card {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.product-details-page .details .product-visual .visual-desc .detail-card.active {
  display: flex;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
}
.product-details-page .details .product-visual .visual-desc .detail-card .sublabel {
  font-size: 16px;
  font-family: "Verdana Bold";
  margin-bottom: 15px;
}
@media (max-width: 835px), (max-width: 991px) and (min-width: 836px) {
  .product-details-page .details .product-visual {
    flex-direction: column;
  }
  .product-details-page .details .product-visual .visual-images {
    width: 100%;
    margin-bottom: 30px;
  }
  .product-details-page .details .product-visual .visual-desc {
    width: 100%;
  }
}
.product-details-page .details .product-descriptions {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.product-details-page .details .product-descriptions .labels-row {
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.product-details-page .details .product-descriptions .labels-row .label-tag {
  border: 1.5px solid #DEDEDE;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  margin-bottom: 10px;
}
.product-details-page .details .product-descriptions .labels-row .label-tag:hover, .product-details-page .details .product-descriptions .labels-row .label-tag.active {
  background-color: #eaeaea;
}
.product-details-page .details .product-descriptions .desc-row {
  min-height: 300px;
  height: fit-content;
}
.product-details-page .details .product-descriptions .desc-row .desc {
  color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  height: 0;
}
.product-details-page .details .product-descriptions .desc-row .desc.active {
  opacity: 1;
  visibility: visible;
  height: fit-content;
}

.products-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2%;
}
.products-row .product-card {
  width: 29%;
  margin: 2%;
  display: flex;
  flex-direction: column;
}
.products-row .product-card .product-image {
  width: 100%;
  padding: 7px;
  border: 1.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 25px;
  overflow: hidden;
}
.products-row .product-card .product-image .image {
  border-radius: 5px;
}
.products-row .product-card .product-info .product-label {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}
.products-row .product-card .product-info .product-sublabel {
  line-height: 20px;
  color: #000;
  opacity: 0.45;
}
.products-row .product-card:hover .product-sublabel {
  opacity: 1;
}
@media (max-width: 835px) {
  .products-row {
    margin: 0;
  }
  .products-row .product-card {
    width: 100%;
    margin: 0 0 30px 0 !important;
  }
}

.hardware-page .device-item {
  width: 100%;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
}
.hardware-page .device-item .device-desc {
  width: 70%;
}
.hardware-page .device-item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
}
@media (max-width: 835px) {
  .hardware-page .device-item .device-desc {
    width: 100%;
    margin-bottom: 30px;
  }
}

.software-page .functionalities {
  background-color: #F2F2F2;
}
.software-page .functionalities:nth-child(even) {
  background-color: #F7F7F7 !important;
}
.software-page .functionalities .information-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1%;
}
.software-page .functionalities .information-row .info-card {
  width: 48%;
  margin: 0 1% 7px 1%;
  background-color: #fff;
  border-radius: 3px;
  padding: 20px;
  font-size: 15px;
  display: flex;
  align-items: center;
}
@media (max-width: 835px) {
  .software-page .functionalities .information-row {
    margin: 0 !important;
  }
  .software-page .functionalities .information-row .info-card {
    width: 100%;
    margin: 0 0 10px 0;
  }
}
.software-page .Filters {
  height: fit-content;
  position: relative;
}
.software-page .Filters .filter-section {
  height: 70px;
}
.software-page .Filters .filter-section .filter-inner {
  cursor: pointer;
}
.software-page .Filters .software-filters {
  background-color: #fff;
  z-index: 3;
  position: absolute;
  top: 70px;
  width: 100%;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}
.software-page .Filters .software-filters .modules-row {
  display: flex;
  padding: 20px 0;
  align-items: flex-start !important;
  flex-wrap: wrap;
}
.software-page .Filters .software-filters .modules-row .module-card {
  width: 8%;
  margin: 2%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.software-page .Filters .software-filters .modules-row .module-card .image-container {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.software-page .Filters .software-filters .modules-row .module-card .module-text {
  margin-top: 10px;
  text-align: center;
  font-size: 11px;
}
.software-page .Filters .software-filters .modules-row .module-card:hover .image-container {
  border: 1px solid rgba(0, 0, 0, 0.5);
}
@media (max-width: 991px) and (min-width: 836px) {
  .software-page .Filters .software-filters .modules-row .module-card {
    width: 18%;
  }
}
@media (max-width: 835px) {
  .software-page .Filters .software-filters .modules-row {
    justify-content: space-evenly;
  }
  .software-page .Filters .software-filters .modules-row .module-card {
    width: 46%;
  }
}
.software-page .Filters .software-filters.active {
  height: max-content !important;
  opacity: 1;
  visibility: visible;
}
.software-page .interventions {
  padding-bottom: calc(50px - 2%);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.search-page {
  min-height: calc(100vh - 277px);
}
.search-page .section-search {
  padding: 80px 0 0 0 !important;
}
.search-page .searchformPage {
  height: 45px;
  border: 1px solid #EBEBEB;
  display: flex;
  align-items: center;
  background-color: #fff;
}
.search-page .searchformPage .searchInputPage {
  border: 0;
  outline: 0;
  height: 100%;
  width: calc(100% - 25px);
  padding: 0 8px;
}
.search-page .searchformPage #searchsubmitPage {
  background-color: #fff;
  outline: 0;
  border: 0;
  cursor: pointer;
  padding: 5px;
}
.search-page .searchformPage #searchsubmitPage div {
  width: 15px;
  height: 15px;
}
.search-page .results-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1%;
  height: fit-content;
}
.search-page .results-container .search-result-card {
  width: 23%;
  margin: 1%;
  border-radius: 5px;
  border: 1px solid #EBEBEB;
  padding: 10px;
}
.search-page .results-container .search-result-card span {
  opacity: 0.45;
}
.search-page .results-container .search-result-card * {
  color: #000;
}
.search-page .results-container .search-result-card:hover {
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.08);
}
@media (max-width: 991px) and (min-width: 836px) {
  .search-page .results-container .search-result-card {
    width: 31%;
  }
}
@media (max-width: 835px) {
  .search-page .results-container .search-result-card {
    width: 100%;
  }
}

.footer-menu {
  background-color: rgba(255, 255, 255, 0.03);
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
}
.footer-menu .top {
  width: 100%;
  display: flex;
  border-top: 1px solid rgba(0, 0, 0, 0.07);
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  flex-wrap: wrap;
}
.footer-menu .top .policies {
  width: 35%;
}
.footer-menu .top .policies ul {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
}
.footer-menu .top .policies ul li {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 20px 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.07);
  justify-content: center;
  text-align: center;
  flex: 1;
}
.footer-menu .top .policies ul li a {
  color: rgba(0, 0, 0, 0.65) !important;
}
.footer-menu .top .social-icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 10%;
  padding: 0 10px;
}
.footer-menu .top .social-icons a {
  color: black;
}
.footer-menu .top .newsletter {
  width: 45%;
  display: flex;
  align-items: center;
  padding: 0 25px;
}
.footer-menu .top .newsletter .news-label {
  text-transform: uppercase;
  font-family: "Verdana Bold";
  width: 40%;
}
.footer-menu .top .newsletter .newsletterForm {
  width: 60%;
  display: flex;
  align-items: center;
}
.footer-menu .top .newsletter .newsletterForm button {
  background-color: transparent;
  border: 0;
  outline: 0;
}
.footer-menu .top .newsletter .newsletterForm button .send-icon {
  width: 20px;
  height: 20px;
}
.footer-menu .top .languages {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
}
.footer-menu .top .languages ul {
  display: flex;
  flex-wrap: wrap;
}
.footer-menu .top .languages ul li {
  padding: 0 10px !important;
}
@media (max-width: 835px) {
  .footer-menu .top .policies, .footer-menu .top .newsletter {
    width: 100%;
  }
  .footer-menu .top .social-icons, .footer-menu .top .languages {
    width: 50%;
  }
  .footer-menu .top .policies {
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  }
  .footer-menu .top .policies ul li a {
    font-size: 12px;
  }
  .footer-menu .top .social-icons {
    flex-wrap: wrap;
    border-top: 1px solid rgba(0, 0, 0, 0.07);
  }
  .footer-menu .top .newsletter {
    flex-direction: column;
    padding: 15px 25px;
  }
  .footer-menu .top .newsletter .news-label {
    width: 100%;
    font-size: 12px;
  }
  .footer-menu .top .newsletter .newsletterForm {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .footer-menu .top .newsletter .newsletterForm button .send-icon {
    width: 15px;
    height: 15px;
  }
}
.footer-menu .bottom {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.07);
  padding: 12px;
  opacity: 0.65;
}
.footer-menu .bottom * {
  font-size: 11px;
  color: #000;
}
.footer-menu .bottom .developed {
  font-weight: bold;
}

/*# sourceMappingURL=rtl.css.map */
