/*
Theme Name: CATHI Template
Text Domain: CATHI
Version: 1.0
Description: Theme built by TheWebAddicts.com
Tags: TheWebAddicts, CATHI
Author: TheWebAddicts
Author URI: https://TheWebAddicts.com
*/

@import 'assets/scss/direction-rtl.scss';
@import 'assets/scss/variables.scss';
@import "assets/scss/library/typography.scss";
@import "assets/scss/library/block.scss";
@import "assets/scss/cathi.scss";

html, body {
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  background-color: $muted;
}

*{
  box-sizing: border-box;
  font-family: $font_family_1;
  font-size: 13px;
}

.content{
  width: 100%; max-width: 1280px; margin: auto;
  @media #{$mediaquery-small} { padding: 0 20px; }
  @media #{$mediaquery-smaller} { padding: 0 20px; }
  @media #{$mediaquery-mobile} { padding: 0 20px; }
}
.content-small{ width: 100%; max-width: 700px; margin: auto; }
.content-smaller{ width: 100%; max-width: 400px; margin: auto; }

%transition-0{ transition: 0.15s all; }
%transition-1{ transition: 0.3s all; }
%absolute-box{ position: absolute; top:0; left:0; right:0; bottom:0; margin: auto; }

//Materialize
/* label focus color */
.input-field input[type=text]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
  color: $black !important;
}

/* label underline focus color */
.input-field input[type=text]:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #343538 !important;
  box-shadow: 0 1px 0 0 #343538 !important;
}

.fancybox-content{
  h2{
    font-size: 30px !important;
  }
}

.g-recaptcha{
  @media #{$mediaquery-mobile} {
    transform:scale(0.8);
    transform-origin:0 0;
  }
}

header.main_menu{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  z-index: 99;
  @extend %transition-1;

  .top{
    background-color: $white;
    height:50px;
    max-height: 50px;
    @extend %transition-1;
    overflow: hidden;

    .content-header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0 4%;

      .logo{
        height: 100%;
        display: flex;
        align-items: center;

        a.custom-logo-link{
          display: block; flex-grow: 0; flex-shrink: 9; width: 100px;
          transition: all 0.6s;
          img{ width: 100px; max-height: 45px; margin: 5px 0;height: auto;
            transition: all 0.6s;}
        }

      }
      .features{
        width: 45%;
        display: flex;
        align-items: center;

        @media #{$mediaquery-mobile} {
          width: max-content;
        }
      }
      .search{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 20px;

        form{
          width: 100%;
          display: flex;
          align-items: center;

          input{
            width: calc(100% - 20px);
            border: 0;
            outline: 0;
            height: 60px;
            font-size: 13px;
          }

          button{
            background-color: transparent;
            border: 0;
            outline: 0;

            .search-icon{
              width:15px;
              height: 15px;
            }
          }
        }
      }

      .languages{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        ul{
          display: flex;

          li{
            padding:  0 10px !important;
          }
        }

      }
    }

  }

  nav{
    height: 50px;
    background-color: #343538;

    .content-header{
      display: flex;
      flex-wrap: nowrap;
      align-items:stretch;
      position: relative;
      height: 50px;
    }

    ul.menu{
      flex-grow: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      @media #{$mediaquery-small} { display: flex; }
      @media #{$mediaquery-smaller} { display: flex; }
      @media #{$mediaquery-mobile} { display: none; }

      li.menu-item{
        display: flex;
        align-items: stretch;
        position: relative;
        height: 100%;

        a{
          font-size:13px;
          color:$white;
          align-content:center;
          display: flex;
          padding: 0 25px;
          align-items:center;
          line-height: unset !important;

          &:hover{
            background-color: rgba(255,255,255,0.1);
            color:$white;
          }
        }

        &:hover {
          ul.sub-menu a{
            max-height: 100px;
            padding: 10px 30px 10px 20px;
          }
        }

        &.menu-item-has-children a{
          &:after{
            content:'\f078';
            font-family: $font-awesome;
            font-weight: 600;
            padding: 1px 5px 0 5px;
            font-size: 10px;
            color:$white;
          }
          &:hover{
            border-bottom-color: transparent !important;;
          }
        }

      }

      ul.sub-menu{
        position: absolute;
        background-color:  #343538;
        flex-wrap: wrap;
        top:50px;
        width: 200px;
        z-index: -1;
        padding-right: 0 !important;

        li.menu-item{
          display: flex;
          width: 100%;
          position: relative;

          &:not(.menu-item-has-children) a{
            &:after{ display: none !important;; }
          }

          a{
            padding:0px 30px 0 20px;
            font-size: 13px;
            color:$white;
            line-height: 1.5 !important;
            border-bottom:0px; @extend %transition-1;
            overflow: hidden;
            max-height: 0;
            width: 100%;
          }

        }
      }
    }

    a.search-mobile{
      position: absolute;
      top:0;
      padding: 0;
      height:50px;
      line-height: 50px;
      display: none;

      i{
        padding: 0 20px;
        height:50px;
        line-height: 50px;
        color:$white;
        font-size: 20px;
        cursor: pointer;
      }

      @media #{$mediaquery-mobile} {
        display: block;
      }
    }

    a.toggle{
      position: absolute;
      top:0;
      padding: 0;
      height:50px;
      line-height: 50px;
      display: none;

      @media #{$mediaquery-small} { display: none; }
      @media #{$mediaquery-smaller} { display: none; }
      @media #{$mediaquery-mobile} { display: block; }

      i{
        padding: 0 20px;
        height:50px;
        line-height: 50px;
        color:$white;
        font-size: 20px;
        cursor: pointer;
      }
      i:first-of-type{
        display: block;
      }
      i:last-of-type{
        display: none;
      }
      &.expanded{
        i:first-of-type{ display: none !important; }
        i:last-of-type{ display: block !important; }
      }
    }

    ul.mobile{
      flex-grow: 1; width: 100%; display: block; justify-content:flex-end; align-items:stretch; position: absolute;; top:50px;  height:0; background-color: $color-white; z-index: -1; overflow-x:hidden; overflow-y: scroll; @extend %transition-1;
      @media #{$mediaquery-small} { display: none; }
      @media #{$mediaquery-smaller} { display: none; }
      @media #{$mediaquery-mobile} { display: block; }
      &.expanded{ height:  calc(100vh - 50px) !important; }
      li.menu-item{
        position: relative; width: 100%; display: block;
        &.menu-item-has-children a{
          &:after{ content:'\f078'; font-family: $font-awesome; font-weight: 600; padding: 1px 0 0 5px; font-size: 10px; color:$color-black; float:right; }
          &:hover{
            border-bottom-color: transparent !important;;
          }
        }
        a{
          font-size:14px; color:$color-black; align-content:center; display: block; padding: 0 20px; align-items:center; border-bottom:2px solid transparent; @extend %transition-1;
          height:50px; line-height: 50px;
          &:hover{ border-bottom-color: $color-black; background-color: transparent; color:$color-black; }
        }
      }
      ul.sub-menu{
        position: static; background-color: $color-white; flex-wrap: wrap; top:80px;  z-index: -1; margin: 0 20px;
        &.expanded{
          a{ max-height:50px !important; }
          ul.sub-menu:not(.expanded){ max-height: 0px !important; }
        }
        li.menu-item{
          width: 100%; position: relative;
          &.menu-item-has-children a{
            position: relative;
            &:after{ content:'\f078'; font-family: $font-awesome; font-weight: 600; font-size: 10px; color:$color-black; float:right; display: flex; align-items: center; }
            &:hover{ border-bottom-color: transparent !important;;  }
          }
          &:not(.menu-item-has-children) a{
            &:after{ display: none !important;; }
          }
          &:hover {
            a{ color:$color-black; }
            ul a{ color:$color-black; }
          }
          a{
            padding:0px 20px 0 20px; height:50px; max-height: 0px; line-height: 50px; font-size: 13px; color:$color-black; border-bottom:0px; @extend %transition-1; overflow: hidden;
            &:hover{ color:$color-black !important; }
          }
          ul.sub-menu{
            background-color: $color-black; @extend %transition-1; overflow: hidden; z-index: -3;
            a{  @extend %transition-1; }
            a:after{ content:''; }
            &.expanded{
              a{ max-height:50px !important; }
            }
          }
        }
      }
    }
  }
  @media #{$mediaquery-mobile} {
    max-width: 100vw;
    width: 100%;

    .top{
      height:50px;
      max-height: 50px;

      .content-header{
        .logo{

          a.custom-logo-link{
            width: 80px;
            img{
              width: 80px;
              max-height: 45px;
            }
          }

        }

        .search{
          form{
            display: none;
          }
        }

      }

    }

  }

}

.parallax-window{
  position: relative !important;
}

.gradient-round{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: radial-gradient(circle at center, rgba(0,0,0,0.3) ,rgba(0,0,0,0.75) 100%);
  z-index: 1;
}

.gradient-15-60{
  background: linear-gradient(rgba(0,0,0,0.15) , rgba(0,0,0,0.6));
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
}

.page-top{
  margin-top: 95px ;
}

.page-banner{
  width: 100%;
  height:calc(100vh - 300px);
  position: relative;
  background-color:transparent;
  min-height: 400px;

  .banner-inner{
    width: 100%;
    height:calc(100vh - 300px);
    position: relative;
    min-height: 400px;

    .image{
      width: 100%;
      height: 100%;
    }

    .banner-info{
      position: absolute;
      bottom: 10%;
      right: 0;
      left: 0;
      z-index: 2;
      margin: auto;

      .sublabel{
        font-size: 12px;
        font-weight: bold;
        color: $white;
      }

      .label{
        font-size: 60px;
        font-weight: bold;
        text-transform: capitalize;
        color: $white;
      }
      .description{
        opacity: 0.65;
        color: $white;
        width: 45%;
      }
    }
  }
}

.home-page{

  .homepage-banner{
    width: 100%;
    height:calc(100vh - 300px);
    position: relative;
    background-color: $black;
    min-height: 400px;
    margin-top: 95px;

    .banner-carousel{
      height: 100%;
    }

    .slide{
      width: 100vw;
      height:calc(100vh - 300px);
      position: relative;
      min-height: 400px;

      .image{
        width: 100%;
        height: 100%;
      }

      .banner-info{
        position: absolute;
        bottom: 15%;
        right: 0;
        left: 0;
        z-index: 2;
        margin: auto;


        .sublabel{
          font-size: 12px;
          font-weight: bold;
          color: $white;
        }

        .label{
          font-size: 60px;
          font-weight: bold;
          text-transform: capitalize;
          color: $white;
        }
        .description{
          opacity: 0.65;
          color: $white;
          width: 45%;
        }
      }
    }

    @media #{$mediaquery-smaller} {
      .slide{
        .description{
          width: 60% !important;
        }
      }
    }

    @media #{$mediaquery-mobile} {
      margin-top: 95px;
      .slide{

        .banner-info{
          bottom: 8%;

          .label{
            font-size: 40px;
            line-height: 45px;
            margin: 10px 0;
          }
          .description{
            width: 100%;
          }
        }
      }
    }
  }

  .home-products{
    background-color: $light-gray;

    .products-inner{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1.15%;

      .home-product-card{
        width: 31%;
        display: flex;
        flex-direction: column;
        margin: 0 1.15% 1.15% 1.15%;

        *{
          color: $color-black;
        }

        .page-label{
          font-size: 18px;
          font-family: $font_family_2;
          margin: 8px 0;

          @media #{$mediaquery-smaller} {
            font-size: 15px;
          }
        }

        .page-description{
          @extend %transition-1;
        }

        &:hover{
          .page-description{
            opacity: 1;
          }
        }

      }

      @media #{$mediaquery-mobile} {
        margin: 0;
        flex-direction: column;

        .home-product-card{
          width: 100%;
          margin-bottom: 40px;

          &:last-child{
            margin-bottom: 0 !important;
          }
        }
      }
    }

  }

  .home-testimonials{
    background-color: $muted;

    .testimonials-button{
      padding: 12px 40px !important;
    }

  }

  .partners{
    background-color: $light-gray;
  }

  .contact-us{
    background-color: $muted;

    .contact-inner{
      display: flex;
      flex-wrap: wrap;

      .contact-info{
        width: 50%;

        .contact-inner{
          width: 50%;
          display: flex;
          flex-direction: column;

          .flex-row{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;

            .row-label{
              width: 30%;
              font-family: $font-family_2;
            }

            .row-info{
              opacity: 0.65;
              width: 70%;
            }

            .get-directions{
              width: 70%;
              text-decoration: underline;
              color: $color-black;
              cursor: pointer;
            }
          }

        }
      }

      .distributors{
        width: 50%;
      }

      @media #{$mediaquery-mobile} , #{$mediaquery-smaller} {
        flex-direction: column;

        .contact-info{
          width: 100%;
          margin-bottom: 30px;

          .contact-inner{
            width: 100%;
          }
        }

        .distributors{
          width: 100%;
        }
      }

    }
  }

}

.contact-inner{
  display: flex;
  flex-wrap: wrap;

  .distributors{
    width: 100%;
    .distributors-inner{
      width: 100%;
      background-color: $white;
      padding: 20px;
      display: flex;
      justify-content: space-between;
      height: 450px;

      .dist-info{
        width: 48%;

        .guideline{
          font-size: 16px;
          height: 40px;
        }

        .search-distributors{
          height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .searchDistributors{
            border: 1px solid #EBEBEB;
            display: flex;
            height: 45px;
            align-items: center;

            #search_distributor{
              border: 0;
              outline: 0;
              height: 100%;
              width: calc(100% - 25px);
              padding: 0 8px;
            }

            #search{
              background-color: transparent;
              outline: 0;
              border: 0;
              cursor: pointer;
              padding: 5px;

              div{
                width: 15px;
                height: 15px;
              }
            }

          }

          .results-dist{
            font-size: 11px;
            color: rgba(0,0,0,0.25);
            border-bottom: 1px solid #EBEBEB;
            padding-bottom: 6px;
            @extend %transition-1;
          }
        }

        .distributors-result{
          margin-top: 20px;
          height: calc(100% - 120px);
          overflow: auto;

          .distributor-card{
            transition: all 0.3s;
            padding: 15px 20px;
            background-color: #343538;
            display: flex;
            flex-direction: column;
            margin-bottom: 10px;

            .general{
              display: flex;
              flex-direction: column;
              transition: all 0.3s;
              position: relative;
              cursor: pointer;

              .d-name{
                font-size: 14px;
                color: $white;
                transition: all 0.3s;
                margin-bottom: 5px;
              }

              .location{
                display: flex;
                font-size: 12px;
                color: $white;
                opacity: 0.45;
                transition: all 0.3s;

                *{
                  font-size: 12px;
                }
              }

              &:after{
                font-family: $font-awesome;
                content:"\f054";
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                color: #fff;
                font-weight: 600;
                font-size: 10px;
                @extend %transition-1;
              }

            }

            .details{
              display: flex;
              flex-direction: column;
              @extend %transition-1;
              height: 0;
              opacity: 0;
              visibility: hidden;

              *{
                font-size: 12px;
              }

              .flex-row{
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                opacity: 0.45;

                .row-label{
                  width: 30%;
                  word-break: break-all;
                  *{
                    word-break: break-all;
                  }
                }

                .row-info{
                  width: 68%;
                  word-break: break-all;
                  *{
                    word-break: break-all;
                  }
                }
              }


            }

            &.active{
              background-color: #F2F2F2;

              .general{
                border-bottom: 1px solid rgba(0,0,0,0.2);
                padding-bottom: 15px;

                .d-name{
                  color: $color-black;
                }

                .location{
                  color: #858585;
                  opacity: 1;
                }

                &:after{
                  transform: translateY(-100%) rotate(90deg);
                  color:$color-black;
                }

              }

              .details{
                padding-top: 15px;
                height: max-content !important;
                opacity: 1;
                visibility: visible;
              }

            }

            &:hover{
              background-color: #F2F2F2;

              .general{


                .d-name{
                  color: $color-black;
                }

                .location{
                  color: #858585;
                  opacity: 1;
                }

                &:after{
                  color:$color-black;
                }

              }
            }
          }
        }
      }

      .map{
        width: 48%;
        height: 100%;

        iframe{
          width: 100%;
          height: 100%;
        }
      }

      @media #{$mediaquery-mobile} , #{$mediaquery-smaller}  {

        height:fit-content;
        flex-direction: column;

        .dist-info{
          width: 100%;
          height: 300px;
          margin-bottom: 40px;

          .guideline{
            font-size: 16px;
            height: 40px;
          }
        }

        .map{
          width: 100%;
          height: 450px;

        }


      }
    }
  }

}

.contact-page{
  .contact-inner{
    .contact-info{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 60px;

      .contact-item{
        width: 23%;
        padding: 30px 38px;
        background-color: $light-gray;
        border: 1px solid rgba(0,0,0,0.05);
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        cursor: pointer;
        @extend %transition-1;

        i{
          width: 25px;
          height: 25px;
          font-size: 14px;
          line-height: 25px;
        }

        .row-info{
          width: calc(100% - 25px);
          display: flex;
          flex-direction: column;

          .row-label{
            font-size: 14px;
            font-family: $font_family_2;
            margin-bottom: 15px;
          }

          .row-desc{
            font-size: 12px;
          }

        }

        &:hover{
          background-color: rgba(0,0,0,0.05);
        }

        @media (min-width: 992px ) and (max-width: 1450px) {
          width:48%;
        }

        @media #{$mediaquery-smaller} {
          width:48%;
        }

        @media #{$mediaquery-mobile} {
          width:100%;
        }


      }

    }
    .distributors{

      .distributors-inner {
        height: 650px;
        .dist-info {
          width: 28%;
        }

        .map{
          width: 70%;
        }

        @media #{$mediaquery-mobile} , #{$mediaquery-smaller} {
          flex-direction: column;
          height: fit-content;

          .dist-info{
            width: 100%;
          }

          .map{
            width: 100%;
          }
        }
      }

    }
  }

}

.application-inner{
  .form-label{
    font-size: 22px;
    margin-bottom: 40px;
    text-align: center;
  }

  .ContactForm{
    display: flex;
    flex-direction: column;

    .course-info{
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
      position: relative ;


      .row-100{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 0 !important;
      }

      .border-line{
        position: absolute;
        bottom: 0;
        height: 2px;
        background-color: #EBEBEB;
        width: 20%;
      }
    }

    .user-info{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 40px;


    }

    input , textarea{
      width: 100%;
      background-color: $white;
      border: 1px solid #EBEBEB;
      font-size: 13px;
      margin-bottom: 10px;
      outline: 0;
    }

    input{
      height: 45px;
    }

    textarea{
      height: 100px;
      padding: 20px;
    }

    .app-submit{
      width: 100%;
      text-align: center;
    }


  }

  .cathi-select{
    width: 48%;
    background-color: $white;
    border: 1px solid #EBEBEB;
    color:$black ;
    font-size: 13px;
    margin-bottom: 10px;
    height: 45px;
  }

  .input-label{
    font-size: 12px;
    color: $color-black;
    font-family: $font-family_2;
    margin-bottom: 10px;
  }

  .row-100{
    width: 100%;
    margin-bottom: 10px;
  }

  .row-50{
    width: 48%;
    margin-bottom: 10px;
  }

  .wpforms-container{
    .wpforms-field-label{

    }

    .wpforms-field-required{
      border: 1px solid #EBEBEB !important;
    }

    .wpforms-submit-container{
      text-align: center;
    }

    .wpforms-submit{
      background-color: transparent !important;
      border: 1px solid rgba(0,0,0,0.15);
      color:$black !important;
      font-size: 13px !important;
      font-weight: bold !important;
      @extend %transition-1;
      margin: auto !important;

      &:hover{
        border: 1px solid $black !important;
      }

    }
  }

  button{
    margin: auto;
  }

  input[type=text]:focus + label, input[type=email]:focus + label, .materialize-textarea:focus:not([readonly]) + label {
    color: $black !important;
  }

  /* label underline focus color */
  input[type=text]:focus, input[type=email]:focus,, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #343538 !important;
  box-shadow: 0 0px 0 0 #343538 !important;
}
}

.testimonials-row{
  margin: 0 -1.15%;

  .testimonial-card{
    width: 31%;
    background-color: $white;
    border-top: 3px solid rgba(0,0,0,0.25);
    border-radius: 3px;
    padding: 30px 35px;
    display: flex;
    justify-content: space-between;
    height: fit-content;
    margin: 0 1.15% 25px 1.15%!important;

    .quote{
      width: 10%;
      background-position: top;
      background-repeat: no-repeat;
      background-size: contain;
      transform: translateY(-10px);
    }

    .testimnonial-info{
      display: flex;
      flex-direction: column;
      width: 85%;

      .testimonial{
        margin-bottom: 15px;
      }

      .fullName{
        opacity: 0.5;
        margin-bottom: 15px;
        font-family: $font-family_2;
      }

      .position{
        margin-bottom: 15px;
        opacity: 0.5;
      }

      .image{
        img{
          max-width: 200px;
          max-height: 200px;
        }
      }
    }

    @media #{$mediaquery-smaller} {
      width: 47%;
    }

  }

  @media #{$mediaquery-mobile} {
    margin: 0;
    .testimonial-card{
      width: 100%;
      margin:  0 0 30px 0 !important;
    }
  }


}

.partners-row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1%;

  .partner-card{
    width: 18%;
    margin: 0 1% 1% 1%;
    min-width: 130px;

    .logo{
      width: 130px;
      height: 130px;
      margin: auto;
    }

    &:nth-child(even){
      background-color: rgba(0,0,0,0.05);
    }

    @media #{$mediaquery-smaller}{
      min-width: auto !important;
      .logo{
        width: 100px;
        height: 100px;
      }
    }

    @media #{$mediaquery-mobile} {
      width: 30%;
      min-width: auto !important;

      .logo{
        width: 80px;
        height: 80px;
      }
    }

  }
}

.about-page{

  .team{
    .team-row{
      display: flex;
      justify-content: space-between;

      .team-card{
        width: 28%;
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;

        .image{
          margin-bottom: 20px;
        }


      }

      @media#{$mediaquery-mobile}{
        flex-direction: column;
        margin-bottom: 30px;
        .team-card{
          width: 100%;
        }

        &:last-child{
          margin-bottom: 0 !important;
        }
      }
    }
  }
}

.news-page{

  .news-media{
    .news-row{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1.15%;

      .news-card{
        width: 31%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin: 0 1.15% 40px 1.15%;

        .visual{
          position: relative;
          margin-bottom: 20px;
          border-radius: 5px;

          .image{
            border-radius: 5px;
          }

          .gradient-15-60{
            border-radius: 5px;
          }

          .category{
            z-index: 2;
            position: absolute;
            top: 18px;
            border-radius: 5px;
            background-color: rgba(255,255,255,0.2);
            color:$white;
            padding: 7px 9px;
            font-size: 11px;
          }

          .label{
            position: absolute;
            bottom: 18px;
            width: 70%;
            font-size: 20px;
            color: $white;
            z-index: 2;
          }
        }

        .description{
          color: #898989;
          font-size: 12px;
          height: 54px;
        }

        .c-button{
          padding: 10px 30px;
          .btn-text{
            font-size: 12px;
          }
        }

      }

      @media #{$mediaquery-smaller} , #{$mediaquery-news} {

        .news-card{
          width: 47%;
        }

      }

      @media #{$mediaquery-mobile} {
        margin: 0;

        .news-card{
          width: 100%;
          margin: 0 0 30px 0 !important;
        }
      }
    }
  }
}

.Filters{
  background-color: #EFEFEF;
  height: 70px;
  width: 100%;
  z-index: 9;

  .section-inner{
    display: flex;
    align-items: center;
    height: 100%;

    .filter-inner{

      outline: 0;
      select{
        background-color:  transparent;
        width: max-content;
        outline: 0;
        border: 0;
      }
    }
    .searchBlock{
      width: 100%;
      display: flex;
      align-items: center;

      .search-icon{
        width: 15px;
        height: 15px;
        cursor: pointer;

      }

      .search_input{
        background-color: transparent;
        border: 0;
        outline: 0;
        width: 100%;
        font-size: 16px;
      }

    }


  }

  @media #{$mediaquery-mobile} {
    height: fit-content;

    .section-inner{
      flex-wrap: wrap;

      .filter-inner{
        width: 48%;
        margin-bottom: 10px;
      }

      .searchBlock{
        width: 100%;
        height: 70px;
      }

    }
  }
}

.news-details-page{
  .details{
    .news-inner{
      .news-label{
        font-size: 24px;
        line-height: 32px;
        margin-bottom: 20px;
      }

      .news-sublabel{
        width: 70%;
        font-size: 13px;
        margin-bottom: 20px;
      }

      .news-header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;

        .header-left{
          width: fit-content;
          display: flex;
          align-items: center;

          .news-category{
            background-color: rgba(0,0,0,0.05);
            border-radius: 5px;
            padding: 10px 15px;
          }

          .news-date{
            font-size: 11px;
            opacity: 0.35;
          }

        }

        .header-right{
          display: flex;
          align-items: center;

          .share-icon{
            width: 20px;
            height: 20px;
            margin-bottom: 5px;
            margin-left: 5px;
          }

        }
      }

      .image{
        border-radius: 5px;
        margin-bottom: 45px;
      }

      .description-row{
        margin-bottom: 25px;

        .label{
          font-family: $font-family_2;
          margin-bottom: 15px;
        }

        .description{
          opacity: 0.5;
        }
      }

      .media-row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        margin: 0 -1%;

        .media-container{
          width: 23%;
          margin: 1%;

          .media-card{
            position: relative;

            .image{
              position: absolute;
              border-radius: 5px;
              @extend %transition-1;
              width: 100%;
              height: 100%;
            }
          }

        }


      }

      .news-bottom{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 20px;
        padding-top: 50px;
        position: relative;

        .border-line{
          position: absolute;
          top: 0;
          height: 1.5px;
          background-color: #EBEBEB;
          width: 10%;
        }


        .nextNews{
          width: 50%;
          display: flex;
          background-color:rgba(0,0,0,0.05);
          border-radius: 5px;
          overflow: hidden;

          .image-container{
            width: 45%;
          }

          .information{
            width: 55%;
            padding: 20px 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;


            .guideline{
              font-size: 11px;
              color: rgba(0,0,0,0.5);
            }

            .next-label{
              font-size: 15px;
              color: $color-black;
            }

            .next-button{
              width: 25px;
              height: 25px;
              cursor: pointer;
            }

          }

        }
      }
    }

    @media #{$mediaquery-mobile} {
      .news-inner{


        .news-sublabel{
          width: 100%;
        }

        .news-header{
          flex-direction: column;

          .header-left{
            width: 100%;
            margin-bottom: 15px;
          }

          .header-right{
            width: 100%;
            flex-wrap: wrap;
          }
        }

        .news-bottom{
          flex-direction: column;
          align-items: flex-start;

          .nextNews{
            width: 100%;
            margin-top: 15px;
          }
        }
      }
    }
  }
}

.academy-page{

  .courses{

    .courses-row{
      display: flex;
      flex-direction: column;

      .course-card{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        width: 100%;
        border: 1px solid rgba(0,0,0,0.1);
        padding: 30px;

        .course-header{
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 20px;
          border-bottom: 1px solid rgba(0,0,0,0.1);

          .label{
            font-size: 18px;
            width: 48%;
          }

          .tags-row{
            width: fit-content;
            max-width: 50%;
            display: flex;
            flex-wrap: wrap;

            .category-tag{
              background-color: rgba(0,0,0,0.05);
              border-radius: 5px;
              font-size: 12px;
              color:rgba(0,0,0,0.5);
              padding: 5px 10px;
              margin-bottom: 8px;
            }

            .training-tag{
              background-color: rgba(7,52,136,0.05);
              border-radius: 5px;
              font-size: 12px;
              color:#073488;
              padding: 5px 10px;
              margin-bottom: 8px;
            }

            .level-tag{
              background-color: rgba(249,3,39,0.05);
              border-radius: 5px;
              font-size: 12px;
              color:#F90327;
              padding: 5px 10px;
              margin-bottom: 8px;
            }
          }
        }

        .course-body{
          padding-top: 20px;
          display: flex;
          flex-direction: column;

          .information{
            display: flex;
            justify-content: space-between;

            .info-block{
              width: 50%;
              display: flex;
              flex-direction: column;

              .info-label{
                font-size: 15px;
                font-family: $font-family_2;
                margin-bottom: 20px;
              }

              .info-desc{
                opacity: 0.45;
                width: 85%;
              }

            }
          }
        }

        @media #{$mediaquery-mobile} {
          .course-header{
            flex-direction: column;

            .label{
              width: 100%;
              margin-bottom: 15px;
            }

            .tags-row{
              width: 100%;
              max-width: 100% !important;
            }
          }

          .course-body{

            .information{
              flex-direction: column;

              .info-block{
                width: 100%;

                &:first-child{
                  margin-bottom: 20px;
                }
              }
            }
          }
        }

      }

    }
  }

}

.product-details-page{
  .product-breadcrumbs{
    background-color: $light-gray;
    height: 50px;
    display: flex;
    align-items: center;
    *{
      color: rgba(0,0,0,0.65);
      font-size: 12px;
    }
  }

  .details{

    .product-visual{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-bottom: 30px;

      .visual-images{
        width: 60%;
        display: flex;


        .images-row{
          width: 12%;
          overflow-x: auto;
          height: 100%;

          .sm-img{
            margin-bottom: 10px;
            opacity: 0.35;
            border-radius: 3px;
            cursor: pointer;
            @extend %transition-1;

            &.active{
              opacity: 1;
            }

            &:hover{
              opacity: 1;
            }
          }


        }

        .md-images{
          width: 85%;
          position: relative;


          .md-img{
            position: absolute;
            opacity: 0;
            visibility: hidden;
            border-radius: 5px;
            @extend %transition-1;
            width: 100%;
            height: 100%;

            &.active{
              opacity: 1;
              visibility: visible;
            }
          }
        }

      }

      .visual-desc{
        width: 30%;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;

        .product-name{
          font-size: 25px;
          font-family: $font_family_2;
          margin-bottom: 25px;
        }

        .detail-card{
          display: none;
          opacity: 0;
          visibility: hidden;
          @extend %transition-1;

          &.active{
            display: flex;
            flex-direction: column;
            opacity: 1;
            visibility: visible;
          }

          .sublabel{
            font-size: 16px;
            font-family: $font-family_2;
            margin-bottom: 15px;
          }


        }

      }

      @media #{$mediaquery-mobile} , #{$mediaquery-smaller}{
        flex-direction: column;

        .visual-images{
          width: 100%;
          margin-bottom : 30px;

        }

        .visual-desc{
          width: 100%;
        }
      }

    }

    .product-descriptions{
      width: 100%;
      display: flex;
      flex-direction: column;

      .labels-row{
        margin-bottom: 45px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .label-tag{
          border: 1.5px solid #DEDEDE;
          border-radius: 5px;
          padding: 25px;

          @extend  %transition-1;
          cursor: pointer;
          margin-bottom: 10px;

          &:hover , &.active{
            background-color: #eaeaea;
          }
        }

      }

      .desc-row{
        min-height:300px;
        height: fit-content;
        .desc{
          color: rgba(0,0,0,0.5);
          opacity: 0;
          visibility: hidden;
          height: 0;
          @extend  %transition-1;

          &.active{
            opacity: 1;
            visibility: visible;
            height: fit-content;
          }
        }
      }


    }
  }
}

.products-row{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -2%;

  .product-card{
    width: 29%;
    margin: 2% ;
    display: flex;
    flex-direction: column;

    .product-image{
      width: 100%;
      padding: 7px;
      border: 1.5px solid rgba(0,0,0,0.1);
      border-radius: 5px;
      margin-bottom: 25px;
      overflow: hidden;

      .image{
        @extend %transition-1;
        border-radius: 5px;
      }

    }

    .product-info{
      .product-label{
        font-size: 14px;
        font-weight: bold;
        color: $color-black;
        margin-bottom:10px ;
      }

      .product-sublabel{
        line-height: 20px;
        color: $color-black;
        opacity: 0.45;
        @extend %transition-1;
      }
    }

    &:hover{
      .product-sublabel{
        opacity: 1;
      }
    }

  }

  @media #{$mediaquery-mobile}{
    margin:0;

    .product-card{
      width: 100%;
      margin: 0 0 30px 0 !important;
    }
  }
}

.hardware-page{
  .device-item{
    width: 100%;
    padding-bottom: 80px;
    border-bottom: 2px solid rgba(0,0,0,0.1);
    margin-bottom: 80px;

    .device-desc{
      width: 70%;
    }

    &:last-child{
      border-bottom: 0;
      margin-bottom: 0;
    }

    @media #{$mediaquery-mobile} {
      .device-desc{
        width: 100%;
        margin-bottom: 30px;
      }
    }
  }
}

.software-page{
  .functionalities{
    background-color: $light-gray;

    &:nth-child(even){
      background-color: $muted !important;
    }

    .information-row{
      display: flex;
      flex-wrap: wrap;
      margin: 0 -1%;

      .info-card{
        width: 48%;
        margin:0 1% 7px 1%;
        background-color: $white;
        border-radius: 3px;
        padding: 20px;
        font-size: 15px;
        display: flex;
        align-items: center;

      }

      @media #{$mediaquery-mobile}{
        margin: 0 !important;

        .info-card{
          width: 100%;
          margin:0 0 10px 0;
        }
      }
    }
  }

  .Filters{
    height: fit-content;
    position: relative;

    .filter-section{
      height: 70px;

      .filter-inner{
        cursor: pointer;
      }
    }
    .software-filters{
      background-color: $white;
      z-index: 3;
      position: absolute;
      top: 70px;
      width: 100%;
      height: 0;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
      overflow: hidden;

      .modules-row{
        display: flex;
        padding: 20px 0;
        align-items: flex-start !important;
        flex-wrap: wrap;

        .module-card{
          width: 8%;
          margin: 2%;
          display: flex;
          flex-direction: column;
          cursor: pointer;
          @extend %transition-1;

          .image-container{
            @extend %transition-1;
            border: 1px solid rgba(0,0,0,0.1);
            padding: 5px;
          }

          .module-text{
            margin-top: 10px;
            text-align: center;
            font-size: 11px;
          }

          &:hover{
            .image-container{
              border: 1px solid rgba(0,0,0,0.5);
            }
          }

          @media #{$mediaquery-smaller} {
            width: 18%;
          }

        }

        @media #{$mediaquery-mobile} {
          justify-content: space-evenly;

          .module-card{
            width: 46%;
          }
        }

      }

      &.active{
        height: max-content !important;
        opacity: 1;
        visibility: visible;
      }





    }
  }

  .interventions{
    padding-bottom: calc(50px - 2%);
    border-bottom: 2px solid rgba(0,0,0,0.1);
    margin-bottom: 50px;
  }
}

.search-page{
  min-height: calc(100vh - 277px);

  .section-search{
    padding: 80px 0 0 0 !important;
  }
  .searchformPage{
    height: 45px;
    border: 1px solid #EBEBEB;
    display: flex;
    align-items: center;
    background-color: $white;

    .searchInputPage{
      border: 0;
      outline: 0;
      height: 100%;
      width: calc(100% - 25px);
      padding: 0 8px;
    }

    #searchsubmitPage{
      background-color: $white;
      outline: 0;
      border: 0;
      cursor: pointer;
      padding: 5px;

      div{
        width: 15px;
        height: 15px;
      }
    }
  }

  .results-container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1%;
    height: fit-content;

    .search-result-card{
      width: 23%;
      margin: 1%;
      border-radius: 5px;
      border :1px solid #EBEBEB;
      padding: 10px;
      @extend %transition-1;

      span{
        opacity: 0.45;
      }

      *{
        color: $color-black;
      }

      &:hover{
        background-color: $white;
        border-color: $white;
        box-shadow: 0px 0px 75px 0px rgba(0, 0, 0, 0.08);
      }

      @media #{$mediaquery-smaller} {
        width: 31%;
      }

      @media #{$mediaquery-mobile} {
        width: 100%;
      }


    }
  }



}

.footer-menu{
  background-color: rgba(255,255,255,0.03);
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100vw;

  .top{
    width: 100%;
    display: flex;
    border-top: 1px solid rgba(0,0,0,0.07);
    border-bottom: 1px solid rgba(0,0,0,0.07);
    flex-wrap: wrap;

    .policies{
      width: 35%;
      ul{
        display: flex;
        height: 100%;
        width: 100%;
        margin: 0;

        li{
          height: 100%;
          display: flex;
          align-items: center;
          padding: 20px 10px;
          border-right: 1px solid  rgba(0,0,0,0.07);
          justify-content: center;
          text-align: center;
          flex: 1;

          a{
            color: rgba(0,0,0,0.65) !important;
          }
        }
      }


    }

    .social-icons{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 10%;
      padding:  0 10px;


      a{
        color: black;
      }
    }

    .newsletter{
      width: 45%;
      display: flex;
      align-items: center;
      padding:  0 25px;

      .news-label{
        text-transform: uppercase;
        font-family: $font-family_2;
        width: 40%;
      }

      .newsletterForm{
        width: 60%;
        display: flex;
        align-items: center;

        button{
          background-color: transparent;
          border: 0;
          outline: 0;

          .send-icon{
            width: 20px;
            height: 20px;
          }
        }
      }
    }

    .languages{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 10%;

      ul{
        display: flex;
        flex-wrap: wrap;

        li{
          padding:  0 10px !important;
        }
      }


    }

    @media #{$mediaquery-mobile} {
      .policies , .newsletter{
        width: 100%;
      }

      .social-icons , .languages{
        width: 50%;
      }

      .policies{
        border-bottom:1px solid rgba(0,0,0,0.07) ;

        ul{
          li{
            a{
              font-size: 12px;
            }
          }
        }
      }

      .social-icons{
        flex-wrap: wrap;
        border-top:1px solid rgba(0,0,0,0.07) ;
      }

      .newsletter{
        flex-direction: column;
        padding: 15px 25px;
        .news-label{
          width: 100%;
          font-size: 12px;
        }

        .newsletterForm{
          width: 100%;
          display: flex;
          align-items: center;

          button{
            .send-icon{
              width: 15px;
              height: 15px;
            }
          }
        }
      }

    }

  }

  .bottom{
    text-align: center;
    border-bottom: 1px solid rgba(0,0,0,0.07);
    padding: 12px;
    opacity: 0.65;

    *{
      font-size: 11px;
      color: $black;

    }

    .developed{
      font-weight: bold;
    }
  }

}
