
.width-15 {
    width: 15%;
    @extend .width-responsive;
}

.width-20 {
    width: 20%;
    @extend .width-responsive;
}

.width-25 {
    width: 25%;
    @extend .width-responsive;
}

.width-33 {
    width: calc(100% / 3);
    @extend .width-responsive;
}

.width-40 {
    width: 40%;
    @extend .width-responsive;
}

.width-50 {
    width: 50%;
    @extend .width-responsive;
}

.width-80 {
    width: 80%;
    @extend .width-responsive;
}

.width-66 {
    width: calc(200% / 3);
    @extend .width-responsive;
}

.width-75 {
    width: 75%;
    @extend .width-responsive;
}

.width-100 {
    width: 100%;
    @extend .width-responsive;
}

.width-auto {
    width: auto !important;
    @extend .width-responsive;
}

.width-responsive {
    @media (max-width: 950px) {
        width: 100%;
        margin-bottom: 1rem;
    }
}

.width-container-responsive {
    @media (max-width: 950px) {
        flex-direction: column;
    }
}



.bg-primary {
    background-color: $primary;
}

.bg-secondary {
    background-color: $secondary;
}

.bg-light {
    background-color: $light;
}

.bg-dark {
    background-color: $dark;
}

.bg-danger {
    background-color: $danger;
}

.bg-success {
    background-color: $success;
}

.bg-muted {
    background-color: $muted;
}

.bg-white{
    background-color: $white;
}


.b-all {
    border: 1px solid $lighter-gray;
}

.b-all-dark {
    border: 1px solid $dark;
}

.b-b {
    border-bottom: 1px solid $lighter-gray;
}

.b-b-primary {
    border-bottom: 1px solid $primary;
}

.b-t {
    border-top: 1px solid $light-gray;
}

.b-r {
    border-right: 1px solid $light-gray;
}

.b-l {
    border-left: 1px solid $light-gray;
}

.b-y {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
}

.b-x {
    border-right: 1px solid $light-gray;
    border-left: 1px solid $light-gray;
}



.height-100 {
    height: 100%;
}

.flex-1 {
    flex: 1;
}

.cell-grid-5 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-gap: 10px;

    .cell {
        display: block;
        text-decoration: none;
        //padding: 20px 0;
        min-height: 200px;

        &.cell-1 {
            grid-column: 1 / span 3;
            @extend .cell-responsive;
        }

        &.cell-2 {
            grid-column: 4 / span 2;
            @extend .cell-responsive;
        }

        &.cell-3 {
            grid-column: 1 / span 2;
            @extend .cell-responsive;
        }

        &.cell-4 {
            grid-column: 3 / span 3;
            grid-row: 2 / span 2;
            @extend .cell-responsive;
        }

        &.cell-5 {
            grid-column: 1 / span 2;
            @extend .cell-responsive;
        }

        &.cell-6 {
            grid-column: 1 / span 2;
            @extend .cell-responsive;
        }

        &.cell-7 {
            grid-column: 3 / span 3;
            @extend .cell-responsive;
        }


    }

}

.cell-grid-2 {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;

    .cell {
        display: block;
        text-decoration: none;
        //padding: 20px 0;
        min-height: 250px;

        &.cell-1 {
            grid-column: 1 / span 1;
            @extend .cell-responsive;
        }

        &.cell-2 {
            grid-column: 2 / span 1;
            grid-row: 1 / span 2;
            @extend .cell-responsive;
        }

        &.cell-3 {
            grid-column: 1 / span 1;
            @extend .cell-responsive;
        }
    }
}



.cell-responsive {
    @media (max-width: 950px) {
        grid-column: 1 / span 5 !important;
        // grid-row: 1 / span 1 !important;
    }
}



.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    margin: 0;
}



.page-link {
    position: relative;
    display: block;
    // padding: 0.5rem 0.75rem;
    // margin-left: -1px;
    //  line-height: 1.25;
    font-size: $size_1;
    color: $gray;
    background-color: $white;
    border: 1px solid $light-gray;
    text-decoration: none;
    border-radius: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    margin: 0 5px;
}

.page-link:hover {
    z-index: 2;
    color: $gray;
    text-decoration: none;
    background-color: $lighter-gray;

    //background-color: #e9ecef;
    border-color: $lighter-gray;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    // box-shadow: 0 0 0 0.2rem rgba($gray, 0.25);
}

.page-item:first-child .page-link {
    margin-left: 0;
    // border-top-left-radius: 0.25rem;
    //  border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    margin-right: 0;
    // border-top-right-radius: 0.25rem;
    //  border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 3;
    // color: $white;
    //background-color: $primary;
    border-color: $danger;
}

.page-item.disabled .page-link {
    display: none;
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: $lighter-gray;
    border-color: $lighter-gray;

}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}


.padding-50 {
    padding-bottom: 50%;
}

.padding-75 {
    padding-bottom: 75%;
}

.padding-100 {
    padding-bottom: 100%;
}

.abs-y-top {
    position: absolute;
    top: 0;
}

.abs-y-bottom {
    position: absolute;
    bottom: 0;
}

.abs-x-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.position-relative {
    position: relative;
}

.abs-y-center {

    position: absolute;
    top: 50%;
    transform: translateY(-50%);


}

.abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contain {
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: contain;

}


.ratio-1-1 {
    width: 100%;
    padding-bottom: 100%;
}

.ratio-4-3 {
    width: 100%;
    padding-bottom: calc(calc(100% * 3) / 4);
}

.ratio-3-4 {
    width: 100%;
    padding-bottom: calc(calc(100% * 4) / 3);
}

.ratio-1-2 {
    width: 100%;
    padding-bottom: calc(calc(100% * 2) / 1);
}

.ratio-2-1 {
    width: 100%;
    padding-bottom: calc(calc(100% * 1) / 2);
}

.ratio-16-9 {
    width: 100%;
    padding-bottom: calc(calc(100% * 9) / 16);
}

.ratio-9-16 {
    width: 100%;
    padding-bottom: calc(calc(100% * 16) / 9);
}

.ratio-16-4 {
    width: 100%;
    padding-bottom: calc(calc(100% * 4) / 16);
}

.ratio-5-3 {
    width: 100%;
    padding-bottom: calc(calc(100% * 3) / 5);
}
.ratio-6-4 {
    width: 100%;
    padding-bottom: calc(calc(100% * 4) / 6);
}

.ratio-6-5 {
    width: 100%;
    padding-bottom: calc(calc(100% * 5) / 6);
}

.ratio-5-7 {
    width: 100%;
    padding-bottom: calc(calc(100% * 7) / 5);
}

.z-index-1 {
    z-index: 1;
}

.z-index-2 {
    z-index: 2;
}

.z-index-3 {
    z-index: 3;
}

.z-index-4 {
    z-index: 4;
}

.z-index-5 {
    z-index: 5;
}

.z-index-6 {
    z-index: 6;
}

.z-index-7 {
    z-index: 7;
}

.z-index-8 {
    z-index: 8;
}

.z-index-9 {
    z-index: 9;
}

.z-index-10 {
    z-index: 10;
}

.no-animation {
    transition: unset !important;
}
