$size_0: 0.625rem;
$size_1: 0.75rem;
$size_2: 0.875rem;
$size_3: 1rem;
$size_4: 1.125rem;
$size_5: 1.25rem;
$size_6: 1.375rem;
$size_7: 1.5rem;
$size_8: 1.625rem;
$size_9: 1.75rem;
$size_10: 1.875rem;
$size_11: 2rem;
$size_12: 2.125rem;
$size_13: 2.25rem;
$size_14: 2.375rem;
$size_15: 2.5rem;
$size_16: 2.625rem;
$size_17: 2.75rem;
$size_18: 2.875rem;
$size_19: 3rem;
$size_20: 3.125rem;
$size_21: 3.25rem;
$size_22: 3.375rem;
$size_23: 3.5rem;





// Font Weights
$regular: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$bolder: 900;



.t-upper {
    text-transform: uppercase;
}

.t-lower {
    text-transform: lowercase;
}

.t-capitalize {
    text-transform: capitalize;
}

.t-underline {
    text-decoration: underline;
}

.t-overline {
    text-decoration: overline;
}

.t-throughline {
    text-decoration: line-through;
}

// Number of  lines in a paragraph

.t-lines-1 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.t-lines-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.t-lines-3 {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.t-lines-4 {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.t-lines-5 {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.t-lines-8 {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

//colors

.t-primary {
    color: $primary;
}

.t-secondary {
    color: $secondary;
}

.t-danger {
    color: $red;
}

.t-success {
    color: $green;
}

.t-dark {
    color: $dark;
}

.t-light {
    color: $light;
}

.t-white {
    color: $white;
}

.t-black {
    color: $black;
}

.t-muted {
    color: $muted;
}

// .t-light-gray {
//     color: rgba($black, 0.35);
// }

.t-light-gray {
    color: $light-gray;
}

.t-lighter-gray {
    color: $lighter-gray;
}

// font families

.t-family-1 {
    font-family: $font_family_1 !important;
}

.t-family-2 {
    font-family: $font_family_2 !important;
}

.t-family-3 {
    font-family: $font_family_3 !important;
}

.t-family-4 {
    font-family: $font_family_4 !important;
}

.t-family-1-children {
    * {
        font-family: $font_family_1 !important;
    }
}

.t-family-2-children {
    * {
        font-family: $font_family_2 !important;
    }
}

.t-family-3-children {
    * {
        font-family: $font_family_3 !important;
    }
}

.t-family-4-children {
    * {
        font-family: $font_family_4 !important;
    }
}

.t-regular {
    font-weight: $regular;
}

.t-medium {
    font-weight: $medium;
}

.t-semibold {
    font-weight: $semibold;
}

.t-bold {
    font-weight: $bold !important;
}

.t-bolder {
    font-weight: $bolder;
}

.t-one-quarter {
    max-width: 25%;
    ;
}

.t-one-third {
    max-width: calc(100%/3);
}

.t-two-third {
    max-width: calc(200%/3);
}

.t-one-half {
    max-width: 50%;
}

.t-three-quarters {
    max-width: 75%;
}


.t-block-link,
.t-no-underline {
    display: block;
    text-decoration: none;
}

.t-opacity-50 {
    opacity: 0.5;
}

.t-opacity-75 {
    opacity: 0.75;
}

.t-hover-right {
    &:hover {
        transform: translateX(5px);
    }
}

.t-inherit {
    color: inherit;
}

@for $i from 0 to 30 {
    $x: 0.625 + $i * 0.125;

    .t-height-#{$i} {
        height: $x * 1rem;
    }

    .t-#{$i} {
        font-size: $x * 1rem !important;
    }

    .t-#{$i}-regular {
        font-size: $x * 1rem;
        font-weight: $regular;
    }

    .t-#{$i}-medium {
        font-size: $x * 1rem;
        font-weight: $medium;
    }

    .t-#{$i}-semibold {
        font-size: $x * 1rem;
        font-weight: $semibold;
    }

    .t-#{$i}-bold {
        font-size: $x * 1rem;
        font-weight: $bold;
    }

    .t-#{$i}-bolder {
        font-size: $x * 1rem;
        font-weight: $bolder;
    }

    .t-line-#{$i} {
        line-height: $x * 1rem;
    }
}


.t-pointer {
    cursor: pointer;
}



.t-left {
    text-align: left !important;
}

.t-right {
    text-align: right !important;
}

.t-center {
    text-align: center !important;
}

@media (min-width: 576px) {
    .t-sm-left {
        text-align: left !important;
    }

    .t-sm-right {
        text-align: right !important;
    }

    .t-sm-center {
        text-align: center !important;
    }
}

@media (min-width: 768px) {
    .t-md-left {
        text-align: left !important;
    }

    .t-md-right {
        text-align: right !important;
    }

    .t-md-center {
        text-align: center !important;
    }
}

@media (min-width: 992px) {
    .t-lg-left {
        text-align: left !important;
    }

    .t-lg-right {
        text-align: right !important;
    }

    .t-lg-center {
        text-align: center !important;
    }
}

@media (min-width: 1200px) {
    .t-xl-left {
        text-align: left !important;
    }

    .t-xl-right {
        text-align: right !important;
    }

    .t-xl-center {
        text-align: center !important;
    }
}

.t-column-2{
    column-count: 2;
}
