.display-block{
  padding: 90px 0;
  background-color: $muted;

  .display-block-inner{
    margin: auto;
    display: flex;
    flex-direction: column;

    .block-label{
      width: 60%;
      font-size: 30px;
      color:$color-black;
      margin-bottom: 60px;
      font-family: $font_family_2;

    }

    .block-info{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      .block-description{
        width: 50%;
        background-color:$light-gray;
        padding: 25px;
       color:rgba(0,0,0,0.45);
      }

      .block-visual{
        width: 45%;
        position: relative;

        iframe{
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
        }

        a{
          max-width: 100%;
        }

        img{
          width: 100% !important;
          max-width: 100% !important;
        }
      }
    }

  }

  &.gray-block{
    background-color: $light-gray;

    .block-description{
      background-color:transparent !important;
      padding: 0 !important;
    }
  }

  &.gradient-block{
    background: linear-gradient($light-gray , $muted);
    .block-description{
      background-color:transparent !important;
      padding: 0 !important;
    }
  }
  
  @media #{$mediaquery-smaller} {
    .display-block-inner{
      margin: auto;
      display: flex;
      flex-direction: column;

      .block-label{
        width: 90% !important;
      }

      .block-visual {
        width: 40% !important;
      }

    }
  }

  @media #{$mediaquery-mobile} {
    .display-block-inner{
      margin: auto;
      display: flex;
      flex-direction: column;

      .block-label{
        width: 100%;
        font-size: 25px;
        margin-bottom: 50px;
      }

      .block-info{
        flex-direction: column-reverse;

        .block-description{
          width: 100%;
        }

        .block-visual{
          width: 100%;
          margin-bottom: 30px;
        }
      }

    }
  }
}

.grid-display{

  &.gray{
      background-color: $light-gray;
  }

  .grid-inner{
    display: flex;
    flex-direction: column;

    .grid-card{
      width: 100%;
      display: flex;
      margin-bottom: 70px;

      .grid-virtual{
        display: flex;
        flex-direction: column;
        width: 50%;

        .line{
          width: 60%;
          height: 5px;
          background-color: rgba(0,0,0,0.25);
          margin-bottom: 20px;
        }
      }

      .grid-info{
        width: 50%;
        margin-top: 25px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

      }

      &:nth-child(even){
        flex-direction: row-reverse;

      }

      &:last-child{
        margin-bottom: 0 !important;
      }


      @media #{$mediaquery-mobile} {
        flex-direction: column;

        .grid-virtual{
          width: 100%;
        }

        .grid-info{
          width: 100%;
        }

        &:nth-child(even){
          flex-direction: column;
        }
      }
    }
  }
}

.page-description{
  .page-desc{
    width: 60%;

    @media #{$mediaquery-smaller} {
      width: 80%;
    }

    @media #{$mediaquery-mobile} {
      width: 100%;
    }
  }
}

.a-name{
  position: absolute;
  display: block;
  margin-top: -200px !important;
}

.c-button{
  background-color: transparent !important;
  border: 1px solid rgba(0,0,0,0.15);
  color:$black !important;
  font-size: 12px !important;
  font-family: $font-family_2;
  @extend %transition-1;
  margin-top: 20px !important;
  padding: 12px 30px;
  width: max-content;
  cursor: pointer !important;

  &:hover{
    border: 1px solid $black !important;
  }

  .btn-text{
    font-size: 12px !important;
    font-family: $font-family_2;
    text-transform: uppercase;
  }
}

.sm-label{
  font-size: 16px;
  font-family: $font-family_2;
  color: $color-black;
  margin-bottom: 20px;

  &.t-align{
    text-align: center;
  }
}

.lg-label{
  font-size: 30px;
  font-family: $font-family_2;
  color: $color-black;
  margin-bottom: 20px;
}

.section-50-50{
  padding: 50px 0;
}

.section-80-80{
  padding: 80px 0;
}

.section-100-100{
  padding: 100px 0;
}

.section-120-120{
  padding: 120px 0;
}

.section-inner{
  margin:auto;
}

.op-45{
  opacity: 0.45 !important;
}

.section-label{
  font-size: 25px;
  font-family: $font_family_2;
  margin-bottom: 35px;
}

.banner-label{
  font-size: 30px;
  font-family: $font_family_2;
  color: $white;
  margin-bottom: 10px;
}

.bread-inner{
  *{
    color: $white;
    opacity: 0.65;
  }
}

.flex-column{
  display: flex;
  flex-direction: column;
}

.bg-gray{
  background-color: $light-gray;
}

.bg-03{
  background-color: rgba(255,255,255,0.03);
}