//Left
.border-left{
 border-left:  1px solid rgba(0,0,0,0.07);
}

.border-left-3{
  border-left: 3px solid rgba(0,0,0,0.25);
}

.pos-left-0{
  left: 0;
}

.pos-left-40{
  left: 40%;
}

.pos-left-45{
  left: 45%;
}

.pos-left-22{
  left: 22px;
}

.padding-20{
  padding-left: 20px;
}

.padding-left-50{
  padding-left: 50px;
}

.padding-left-140{
  padding-left: 140px;

  @media (min-width: 836px) and (max-width: 991px){
    padding-left: 80px !important;
  }

  @media screen and (max-width: 835px){
    padding-left: 0 !important;
  }
}

.padding-right-140{
  padding-right: 140px;

  @media (min-width: 836px) and (max-width: 991px){
    padding-right: 80px !important;
  }

  @media screen and (max-width: 835px){
    padding-right: 0 !important;
  }
}

.mobile-padding-0{
  @media screen and (max-width: 835px){
    padding-left: 0 !important;
  }
}

.margin-left-5{
  margin-left: 5px;
}
.margin-left-40{
  margin-left: 40%;
}

.mobile-no-border{
  @media screen and (max-width: 835px){
    border-left: 0 !important;
  }
}

.float-left{
  float: left;
}

.borders-left{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

//Right
.padding-right-60{
  padding-right: 60px;
}

.pos-right-0{
  right: 0;
}

.distributor-card .general:after{
  right: -8px;
}

.logo-mobile{
  @media screen and (max-width: 835px){
    padding-right: 20px;
    border-right: 0 !important;
  }
}

.filter-inner{
  padding-right: 50px;
  border-right: 1px solid #E5E5E5;

  @media screen and (max-width: 835px){
    padding-right: 10px;
    border-right: 0 !important;
  }
}

.margin-right-10{
  margin-right: 10px;
}

.margin-right-3{
  margin-right: 3%;
}

.margin-right-25{
  margin-right: 25px;
}
.borders-right{
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.border-right{
  border-right: 1px solid  rgba(0,0,0,0.07);
}

.mobile-languages{
  @media screen and (max-width: 835px){
    border-right:1px solid rgba(0,0,0,0.07) ;
    border-top:1px solid rgba(0,0,0,0.07) ;
  }

}
