body {
  direction: RTL!important;
  text-align: right!important;
}

.border-left{
  border-right:  1px solid rgba(0,0,0,0.07);
  border-left:0 !important;
}

.border-left-3{
  border-right: 3px solid rgba(0,0,0,0.25);
  border-left:0 !important;
}

.pos-left-0{
  left: unset !important;
  right: 0;
}

.pos-left-40{
  right: 40%;
  left : unset !important;
}

.pos-left-45{
  right: 45%;
  left : unset !important;
}

.pos-left-22{
  right: 22px;
  left : unset !important;
}
.padding-20{
  padding-right: 20px;
  padding-left: unset !important;
}

.padding-left-50{
  padding-right: 50px;
  padding-left: unset !important;
}

.padding-left-140{
  padding-right: 140px;
  padding-left: unset !important;
}

@media (min-width: 836px) and (max-width: 991px){

  .padding-left-140{
    padding-right: 80px !important;
    padding-left: unset !important;
  }

  .padding-right-140{
    padding-left: 80px !important;
    padding-right: unset !important;
  }

}

@media screen and (max-width: 835px){
  .padding-left-140{
    padding-right: 0 !important;
    padding-left: unset !important;
  }

  .padding-right-140{
    padding-left: 0 !important;
    padding-right: unset !important;
  }

  .mobile-padding-0{
    padding-left: unset !important;
    padding-right:0 !important;
  }

  .mobile-no-border{
    border-right: 0 !important;
    border-left: unset !important;
  }

  .logo-mobile{
    padding-right: 0;
    padding-left: 20px;
    border-left: 0 !important;
  }

  .filter-inner{
    padding-left: 10px;
    border-left: 0 !important;
  }

  .mobile-languages{
    border-right:0 !important;
    border-left:1px solid rgba(0,0,0,0.07) ;
  }
}

.padding-right-140{
  padding-left: 140px;
  padding-right: unset !important;
}



.margin-left-5{
  margin-right: 5px;
}

.margin-left-40{
  margin-right: 40%;
}

.float-left{
  float: right;
}

.borders-left{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*Right*/

.padding-right-60{
  padding-left: 60px;
  padding-right: unset !important;
}

.pos-right-0{
  right: unset !important;
  left: 0;
}

.distributor-card .general:after{
  right: unset !important;
  left: -8px;
}

.filter-inner{
  padding-right: 0 ;
  border-right: 0 ;
  padding-left: 50px;
  border-left: 1px solid #E5E5E5;
}

.margin-right-10{
  margin-right: 0 ;
  margin-left: 10px;
}

.margin-right-3{
  margin-right: unset !important;
  margin-left: 3%;
}

.margin-right-25{
  margin-right: unset !important;
  margin-left: 25px;
}
.borders-right{
  border-top-right-radius: 0;
  border-bottom-right-radius:0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.border-right{
  border-left: 1px solid  rgba(0,0,0,0.07);
}

.banner-carousel {
  direction: ltr !important;
}

.banner-carousel .description {
  float: right;
}