// Body
$body-bg: rgba(0,0,0,0.03);

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

@font-face {
  font-family: 'Verdana';
  src:  url('/wp-content/themes/cathitemplate/assets/fonts/Verdana.woff2') format('woff2'),
  url('/wp-content/themes/cathitemplate/assets/fonts/Verdana.woff') format('woff');
}

@font-face {
  font-family: 'Verdana Bold';
  src:  url('/wp-content/themes/cathitemplate/assets/fonts/Verdana-Bold.woff2') format('woff2'),
  url('/wp-content/themes/cathitemplate/assets/fonts/Verdana-Bold.woff') format('woff');
}

$font_family_1:'Verdana';
$font_family_2:'Verdana Bold';
$font_family_3:'Verdana';
$font_family_4:'Verdana Bold';

// Colors
$black: #000;
$white: #fff;
$primary: #CEBFB3;
$secondary:#FCF8F0;
$red: #DB3236;
$danger: #E80D16;
$blue: #7098E8;
$green: #80EDA5;
$pink: #ED80E7;
$light-gray: #F2F2F2;
$color-gray-1 : #f2f2f2;
$color-gray-2 : #e6e6e6;
$color-gray-3 : #b1b1b1;
$color-gray-4 : #909090;
$color-black : #000;
$color-white: #fff;
$color-red:#dd0000;
$light: #FFF5D9;
$muted:#F7F7F7;
$indigo: #6574cd;
$purple: #9561e2;
$orange: #f6993f;
$yellow: #ffed4a;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$gray:#8D8D8D;
$lighter-gray: #F7F7F7;
$dark: #6cb2eb;
$success: #6cb2eb;

$size_1: 13px;

//Responsive Web
$font-awesome: "Font Awesome 5 Free";

$mediaquery-small: "(min-width: 992px)";
$mediaquery-smaller: "(max-width: 991px) and (min-width: 836px)";
$mediaquery-mobile: "(max-width: 835px)";

$mediaquery-news: "(max-width: 1200px) and (min-width: 991px)";
